:root {
  overflow-x: hidden;
  /*
    Primary Colors
   */
  --color-primary-light:                              rgb(255, 127, 0);
  --color-primary-dark:                               rgb(255, 0, 0);

  --color-background-light:                           rgb(255, 244, 224);
  --color-background-dark:                            rgb(45, 35, 34);

  --color-carousel-indicator:                         rgb(219, 205, 180);

  /*
    Text Colors
  */
  --color-heading:                                    rgb(61, 48, 46);
  --color-body:                                       rgb(31, 31, 31);
  --color-text-white:                                 rgb(255, 255, 255);
  --color-text-black:                                 rgb(0, 0, 0);
  --color-light-grey:                                 rgb(159, 159, 159);

  --shadow-dark:                                      rgba(0,0,0,1) 30%;
  --shadow-light:                                     rgba(0,0,0,0) 0%;

  /* Font Variables */
  --body-font:                                        'Poppins', sans-serif;
  --title-font:                                       'made_mirage', serif;

  //1rem = 10px;
  --h1-font-size:                                     6.4rem;
  --h2-font-size:                                     5.4rem;
  --h3-font-size:                                     3.2rem;
  --h4-font-size:                                     2rem;

  --body-font-size:                                   1.4rem;
  --button-font-size:                                 1.6rem;

  /* Font Weight */
  --font-body:                                        300;
  --font-medium:                                      500;
  --font-semi-bold:                                   600;
  --font-bold:                                        700;


  /* Margin Bottom */
  --mb-0-25:                             .25rem;
  --mb-0-5:                              .5rem;
  --mb-0-75:                             .75rem;
  --mb-1:                                1rem;
  --mb-1-25:                             1.25rem;
  --mb-1-5:                              1.5rem;
  --mb-2:                                2rem;
  --mb-2-5:                              2.5rem;

}
