.cookie {
    position: fixed;
    width: 100%;
    height: 350px;
    background-color: #fff;
    z-index: 10;
    bottom: 0;

    &__container {
        width: 1600px;
        margin: 0 auto;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        &-left {
            width: 100%;
            h1 {
                font-size: 4.5rem;
                font-family: var(--title-font);
                padding-bottom: 20px;
            }

            p {
                font-family: var(--body-font);
            }
        }

        &-right {
            width: 100%;
            display: flex;
            gap: 50px;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
        }
    }
}