.footer {
  background-color: var(--color-background-dark);
  margin: 0  0 0rem !important;
  padding: 0 0 2.5rem !important;


  &__container {
    row-gap: 5rem;
    width: 77%;
    margin: 0 auto;
    max-width: 100% !important;

    @media screen and (min-width: 480px) {
      width: 90%;
    }

    @media screen and (min-width: 768px) {
      width: 77%;
    }

  }

  &__content {
    grid-template-columns: 1fr 1.7fr 1fr;
    row-gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 10rem;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }



    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1.7fr 1fr;
    }

    @media screen and (min-width: 1024px) {
      justify-content: center;
    }
  }

  &__title, &__subtitle {
    font-size: 4rem;
    color: var(--color-primary-light);
    font-family: var(--title-font);
  }

  &__title {
    margin-bottom: var(--mb-0-5);
  }

  &__description {
    margin-bottom: var(--mb-2);
    color: var(--color-light-grey);
    font-size: 1.7rem;

    &-title {
      color: var(--color-text-white);
      font-size: 2rem;
      margin-top: 0px;

      a {
        color: var(--color-text-white);
        display: inline;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          z-index: 0;
          right: 0;
          width: 0;
          bottom: -5px;
          background: linear-gradient(150deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%) !important;
          height: 2px;
          transition-property: width;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }

        &:hover:after,
        &:focus:after,
        &:active:after {
          left: 0;
          right: auto;
          width: 100%;
        }
      }
    }
  }

  &__social {
    font-size: 2rem;
    color: var(--title);
    margin-right: var(--mb-1-25);
  }

  &__subtitle {
    margin-bottom: var(--mb-1);
  }

  &__item {
    font-size: 1.7rem;
    margin-bottom: 0rem;
    margin-top: 1.1rem;
    list-style: none;
    color: var(--color-light-grey);
    text-decoration: underline;

    &-icon {
      list-style-type: none;
    }
  }

  &__link {
    color: var(--text-color);


    &:hover {
      color: var(--title-color);
    }
  }

  &__rights {
    text-align: left;
    width: 25rem;
    color: var(--color-light-grey);
    font-size: 2rem;

    ul {
      display: block !important;

      li {
        list-style: none;
        margin-bottom: 1rem;
        text-decoration: none;
      }
    }

  }

  &__copy, &__terms-link {
    font-size: 2rem;
    color: var(--text-color-light);

    a {
      color: var(--text-color-light);
    }
  }

  &__terms {
    margin-top: 2.5rem;
    &-link {
      text-decoration: none;
      &:hover {
        color: var(--text-color);
      }
    }
  }

  &__data {
    margin-top: 3rem;

    &.menu {
      display: block;

      ul {
        margin-top: -0.5rem;
      }

      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    &-terms ul {
      display: flex;
      grid-column-gap: 1.5rem;
    }
  }

}

.last-grid {
  margin-top: 4rem;
}


