.header {
  position: relative;
  height: 85vh;
  background-size: cover;
  background-position: center 30%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: 2rem;

  @media screen and (max-height: 650px) {
    height: 100vh;
  }

  @media screen and (max-height: 500px) {
    height: 150vh;
  }
  

  @media screen and (max-width: 1200px) {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  @media screen and (max-width: 768px) {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  @media screen and (max-width: 480px) {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }







  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }



  }

  &__arrow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    transform: rotate(90deg);
    right: 0;
    text-align: center;
    bottom: -2rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    .fa-icon-header {
      color: var(--color-primary-dark);
      transform: translateY(30%);
      margin-left: 2px;
      font-size: 3rem;
    }
  }
}

.scroll-header {
  background-color: var(--color-text-white);
  box-shadow: 0px 5px 10px #22222280;
}

.index-header {
  @media screen and (max-width: 480px) {
    height: 60vh !important;
    margin-top: 10rem;
  }
}


.smaller-header {
  @media screen and (max-height: 500px) {
    height: 120vh !important;
  }

  @media screen and (max-width: 480px) {
    height: 40vh !important;
    margin-top: 100px;
  }
}