.navigation {
  height: 80px;
  background-color: transparent;
  top: 0;
  position: fixed;
  z-index: 98;
  width: 100%;
  transition: all .4s;

  @media screen and (max-width: 480px) {
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
  }

  .logo-box {
    display: flex;
    position: absolute;
    top: 5rem;
    left: 15rem;
    transition: all .4s;

    .word {
      width: 270px;
      height: 50px;
      margin-top: 0.8rem;
      margin-left: 2rem;
      position: absolute;
      right: -400px;
      -webkit-animation: slide 0.5s forwards;
      -webkit-animation-delay: 0.5s;
      animation: slide 0.5s forwards;
      animation-delay: 0.5s;
      display: block;

      @media screen and (max-width: 900px) {
        display: none;
      }

    }

    .show {
      display: none;
      delay: 1s;
    }

    @-webkit-keyframes slide {
      100% { right: -290px; }
    }

    @keyframes slide {
      100% { right: -290px; }
    }

    @media screen and (max-width: 900px) {
      top: 7rem;
      left: 5rem;
    }

    @media screen and (max-width: 480px) {
      left: 2rem;
      top: 3rem;
    }

  }

  .logo {
    height: 6rem;
    z-index: 2;
    width: 7.5rem;

    @media screen and (max-width: 480px) {
      width: 6rem;
      height: 5rem;
    }
  }

  .logo-animated {
    display: none;
    margin-top: -0.6rem;
    width: 8rem;
    height: 8rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    //background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 5rem;
    right: 15rem;
    border-radius: 50%;
    z-index: 120;
    //box-shadow: 0 1rem 3rem rgba(0,0,0, .1);
    text-align: center;
    cursor: pointer;
    transition: all .4s;

    @media screen and (max-width: 900px) {
      right: 5rem;
    }

    @media screen and (max-width: 480px) {
      right: 1em;
      top: 1.5rem;
      position: relative;
      float: right;
    }
  }

  &__background {
    position: fixed;
    background-color: #fff4e0;
    z-index: 10;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 3rem;
    transition: .4s;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 110;
    opacity: 0;
    width: 0;

    .navigation-logo {
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      width: 400px;

      @media screen and (max-width: 480px) {
        width: 300px;
      }
    }

  }

  &__list {
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;

    @media screen and (max-height: 984px) {
      top: 55%;
      font-size: 20px;
    }


    @media screen and (max-height: 700px) {
      top: 65%;
    }


    @media screen and (max-width: 480px) {
      top: 55%;
    }
  }

  &__item {
    margin: 1rem;
    position: relative;

    @media screen and (max-height: 600px) {
      margin: 0.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      position: relative;
      display: inline-block;
      padding: 1rem 2rem;
      color: var(--color-heading);
      font-family: var(--title-font);
      font-size: 4rem;
      text-decoration: none;
      background-size: 230%;
      transition: all .4s;
      font-weight: var(--font-bold);

      @media screen and (max-height: 984px) {
        font-size: 3rem;
      }

      @media screen and (max-height: 700px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 2.2rem;
      }

     
        &::after {
          content: "";
          position: absolute;
          z-index: 0;
          right: 0;
          width: 0;
          bottom: 15px;
          background: linear-gradient(150deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%) !important;
          height: 3px;
          transition-property: width;
          transition-duration: 0.4s;
          transition-timing-function: ease-out;
        }

        &:hover:after,
        &:focus:after,
        &:active:after {
          left: 0;
          right: auto;
          width: 100%;
        }
        

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }


    &:hover,
    &:active {

      
    }

  }

  &__checkbox:checked ~ &__background {
    z-index:10;
    right: 0;
    background-color: #fff4e0;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 4rem;

    &,
    &::before,
    &::after {
      width: 5rem;
      height: 3.5px;
      border-radius: 100px;
      background: linear-gradient(150deg, var(--color-primary-dark) 0%, #ea5b05 100%);
      display: inline-block;

      @media screen and (max-width: 480px) {
        width: 4.5rem;
      }

    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .1s;
    }

    &::before {
      background: linear-gradient(150deg, var(--color-primary-dark) 0%, #e84808 100%);
      top: -1.4rem;
    }

    &::after {
      background: linear-gradient(150deg, var(--color-primary-dark) 0%, #ec7102 100%);
      top: 1.4rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1.7rem;
  }

  &__button:hover &__icon::after {
    top: 1.7rem;
  }

  &__checkbox:checked + &__button &__icon {
    background: none;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.navigation__item .navigation__link:hover .navigation__item  {
  background-color: red;
}

.language_switcher {
  position: absolute;
  right: 250px;
  top: 70px;
  transition: all .4s;

  @media screen and (max-width: 900px) {
    right: 160px;
    top: 75px;
  }

  @media screen and (max-width: 480px) {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
  }


  ul {

    li {
      list-style-type: none;
      background: transparent;
      float: left;
      margin-left: 20px;

      @media screen and (max-width: 480px) {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-between;
      }

      .en_flag, .dutch_flag {
        @media screen and (max-width: 480px) {
          width: 40px;
        } 
      }



      &:nth-child(1) {

        a {
          opacity: 0.5;
        }

        a.nuxt-link-exact-active {
          opacity: 1;
        }
      }


      &:nth-child(2) {
        a {
          opacity: 0.5;
        }

        a.nuxt-link-exact-active {
          opacity: 1;
        }
      }

    }

  }

}


.navigation__link {
  &.nuxt-link-exact-active {

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      right: 0;
      width: 0;
      bottom: 15px;
      background: linear-gradient(150deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%) !important;
      height: 3px;
      width: 100%;

        @media screen and (max-width: 768px) {
          bottom: 10px;
      }
    }
  }
}



