.subscribe {
  width: 100%;
  background-color: #fff3e0;
  padding: 8rem 0 8rem !important;



  .subscribe-title {
    font-size: 6rem;
    font-family: var(--title-font);
    width: 100%;
    text-align: center;
    display: block;
    font-weight: 100;
    color: var(--color-text-black);

    @media screen and (max-width: 1024px) {
      font-size: 5rem;
      line-height: 5rem;
      width: 100%;
      margin: 0 auto 0 auto;
    }


    @media screen and (max-width: 768px) {
      font-size: 4rem;
      line-height: 5rem;
      width: 350px;
      margin: 0 auto 0 auto;
    }

    @media screen and (max-width: 480px) {
      font-size: 4rem;
      line-height: 5rem;
      width: 320px;
    }


  }



  .subscribe-subtitle {
    font-size: 6rem;
    font-family: 'made_mirage';
    font-weight: 700;
    display: block;
    text-align: center;
    position: relative;
    margin-top: -2.5rem;

    @media screen and (max-width: 1024px) {
      font-size: 4.5rem;
      line-height: 5rem;
      margin: 3rem auto 0 auto;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      font-size: 4rem;
      line-height: 5rem;
      margin: 3rem auto 0 auto;
      width: 400px;
    }

    @media screen and (max-width: 480px) {
      font-size: 4rem;
      line-height: 5rem;
      margin-top: 3rem;
      width: 340px;
    }

    .subscribe-a {
      
    }


    a {
      background: -webkit-linear-gradient(45deg, rgba(254, 0, 0, 1) 0%, rgba(255, 127, 0, 1) 100%);
      background: linear-gradient(45deg, rgba(254, 0, 0, 1) 0%, rgba(255, 127, 0, 1) 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
      color: #ff1500;
      display: inline-block;

      ::after {
        content:'';
        width:100%;
        position: absolute;
        left:0;
        right: 0;
        bottom:20px;
        height: 3px;
        background: #30e8bf;
        background: -webkit-linear-gradient(45deg, rgba(254, 0, 0, 1) 0%, rgba(255, 127, 0, 1) 100%);
        background: linear-gradient(45deg, rgba(254, 0, 0, 1) 0%, rgba(255, 127, 0, 1) 100%);

        @media screen and (max-width: 1024px) {
              bottom: 0;
              margin-top: -5px;
            }
            @media screen and (max-width: 768px) {
              bottom: 0;
              right: auto;
              margin-top: -5px;
            }
            @media screen and (max-width: 480px) {
              left: 0px;
              bottom: 0;
              right: auto;
            }
    }

      
    }
  }
}

.subscribe-a {
  position: relative;
}
