.btn {
  &,
  &:link,
  &:visited {
    background: linear-gradient(125deg, rgba(254,0,0,1) 35%, rgba(255,127,0,1) 100%);
    background-size: 0% 100%;
    border-radius:50px;
    color:#000;
    display:inline-block;
    font-size: 16px;
    border: solid 2px red;
    padding: 12px 20px 12px 20px;
    text-align:center;
    text-decoration:none;
    transition: background-color .5s;
    width:140px;
    font-family: 'Poppins';
    cursor: pointer;
  }




  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: 2px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: transparent;
  }

  &:hover {
    background-image: linear-gradient(125deg, rgba(254,0,0,1) 35%, rgba(255,127,0,1) 100%);
    background-repeat:no-repeat;
    background-size: 200% 100%;
    transition:background-size 1s, background-color 1s;
    border: solid 2px red;
    padding: 12px 20px 12px 20px;
    width:140px;
    color: #fff;

    &::after {

      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(var(--color-text-black), 0.2);
  }
  &--white {
    //background-color: var(--color-text-white);
    //color: $color-grey-dark;

    &::after {

    }
  }

  &--green {
    //background-color: $color-primary;
    color: var(--color-text-white);

    &::after {
      //background-color: $color-primary;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    //color: $color-primary;
    display: inline-block;
    text-decoration: none;
    //border-bottom: 1px solid $color-primary;
    padding: 3px;
    //font-size: $default-font-size;
    transition: all .2s;
  }

  &:hover {
    //background-color: $color-primary;
    color: var(--color-text-white);
    box-shadow: 0 1rem 2rem rgba(var(--color-text-black), .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba(var(--color-text-black), .15);
  }
}

.read__more {
  position: relative;
  padding: 10px;
  width: 120px;
  margin: 0 auto;
  z-index: 3;
  background: linear-gradient(to left, rgba(254, 0, 0, 1) 50%, rgba(255, 127, 0, 1) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  border-radius: 50px;
  text-align: center;
  font-weight: 800;
}

.read__more:hover.read__more {
  background-position: left;
}

.read__more:hover.read__more::before {
  background: none;
}

.read__more a {
  color: #000;
}

.read__more::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: #fff3e0;
  transition: .4s all;
}

.button-block {
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
  background-size: 0% 100%;
  border-radius: 50px;
  color: #000;
  display: inline-block;
  font-size: 16px;
  border: solid 2px red;
  padding: 12px 20px 12px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color .5s;
  width: 140px;
  font-family: 'Poppins';

  &.header-button {
    background-image: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
    background-size: 100% 100%;
    border: none;
    transition: background-color .5s;
    display: inline-block;
    color: #fff !important;

    @media screen and (max-width: 480px) {
      width: 160px;
    }

    &.podcasts-button {
      width: 180px;
      margin: 0 auto;
    }

    a {
      color: #fff;
    }


    &:hover {
      border: none;
      color: #fff !important;
    }
  }

}

.button-block::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: transparent;
  color: #fff !important;
}

.button-block:hover {
  background-image: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  transition: background-size 1s, background-color 1s;
  border: solid 2px red;
  padding: 12px 20px 12px 20px;
  width: 140px;
  color: #fff !important;
}

.button-block:hover a {
  color: #fff;
}

.read-more-linkdin {
  display: flex;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.read-more-cookie {
  display: flex;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;

  .button-block {
    background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
    background-size: 0% 100%;
    border-radius: 50px;
    color: #000;
    display: inline-block;
    font-size: 16px;
    border: solid 2px red;
    padding: 12px 20px 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color .5s;
    width: 180px;
    font-family: 'Poppins';
  }

  .button-block::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 2px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: transparent;
    color: #fff !important;
  }
  
  .button-block:hover {
    background-image: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 1s, background-color 1s;
    border: solid 2px red;
    padding: 12px 20px 12px 20px;
    width: 180px;
    color: #fff !important;
  }
}

.linkdin-block {
  position: relative;
  width: 55px;
  height: 55px;
  padding-top: 9px;
  z-index: 3;
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
  border-radius: 50px;
  text-align: center;
  font-weight: 800;
  font-family: 'Poppins';

  @media screen and (max-width: 1200px) {
    &.person {
      margin-bottom: 1rem;
      width: 55px;
      height: 55px;
      justify-self: end;
    }
  }

  @media screen and (max-width: 1024px) {
    &.person {
      margin-bottom: 1rem;
      width: 55px;
      height: 55px;
      justify-self: end;
    }
  }

  @media screen and (max-width: 768px) {
    &.person {
      margin-bottom: 1rem;
      width: 55px;
      height: 55px;
      justify-self: end;
    }
  }

  @media screen and (max-width: 480px) {
    &.person {
      margin-bottom: 1rem;
      width: 55px;
      height: 55px;
    }
  }

}

.linkdin-block::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: #fff;
}

.linkdin-block svg {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 2px;
  color: #000;
}

.button-gradient {
  margin:0 auto;
  text-align: center;
}

