.image_box {
  width: 450px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 5px 15px 30px rgb(0 0 0 / 30%);
  background-size: cover;
  background-position: 0%;
  z-index: 10;
  display: block;

  @media screen and (max-width: 1200px) {
    width: 350px;
    height: 300px;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }

}

.colored-box {
  position: absolute;
  width: 40%;
  z-index:-1;
  height: 800px;
  background: linear-gradient(125deg, rgba(254,0,0,1) 35%, rgba(255,127,0,1) 100%);
  border-radius: 50px;
  overflow: hidden;
  top: 0;
  display: block;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }



}

.image_block_left {
  margin: 12.5rem 0 12.5rem 0;
  .colored-box {
    left: 0;
    margin-left: -150px;

  }
}

.entrepreneur {

  .image_box {
    margin-left: 150px;

    @media screen and (max-width: 1200px) {
      margin-left: -5rem;
    }


  }
  .colored-box {
    right: 0;
    margin-right: -150px;
  }
}


