.image_block_left {
  height: 800px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    height: 450px;
    padding: 0;
    margin: 10rem 0 0 0 ;
  }

  @media screen and (max-width: 768px) {
    height: 460px;
    padding: 0;
    margin: 10rem 0 0 0;

  }

  @media screen and (max-width: 480px) {
    height: 450px;
    padding: 0!important;
    margin: 0 !important;
  }

  &.distinctive_quote {
    @media screen and (max-width: 1024px) {
      height: 300px;
      padding: 0;
      margin: 0rem 0 0 0 ;
    }

    @media screen and (max-width: 768px) {
      height: 230px;
      margin: 3rem 0 0 0;
    }

    @media screen and (max-width: 480px) {
      height: 250px;
    }
  }



}

.image_block_left__container {
  max-width: 1400px;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;

  @media screen and (max-width: 1024px) {
    display: block;
    max-width:100%;
    margin-top: 0px;
    width: 90% !important;
  }

  @media screen and (max-width: 768px) {
    display: block;
    max-width:100%;
    margin-top: 0px;
    width: 90% !important;
  }

  @media screen and (max-width: 480px) {
    display: block;
    max-width:100%;
    margin-top: 0px;
    width: 90% !important;
  }

}

.image_block_left__data {
  width: 700px;
  margin-top: 100px;
  position: relative;

  @media screen and (max-width: 1200px) {
    width: 500px;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }



}
