.line-ball_entrepreneur {
  display: flex;
  position: relative;
  width: 50%;
  float: left;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  @media screen and (max-width: 480px) {
    width: 90%;
  }

  hr.line {
    border: 2px solid red;
    position: absolute;
    width: 100%;
    top: 37%;
    left: 0;
  }

  .ball {
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 100px;
    top: 36.4%;
    position: absolute;
    right: 0;
    z-index: 0;
    margin-top: -6px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: 3px; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: #fff;
    }
  }
}

.image_block_left {
  .line-ball {
    &_modder {
      display: flex;
      position: relative;
      width: 50%;
      float: right;

      @media screen and (max-width: 1600px) {
        width: 55%;
      }

      @media screen and (max-width: 1200px) {
        width: 55%;
      }

      @media screen and (max-width: 1024px) {
        width: 90%;
      }

      @media screen and (max-width: 768px) {
        width: 90%;
      }

      @media screen and (max-width: 480px) {
        width: 90%;
      }

      hr.line {
        border: 2px solid red;
        position: absolute;
        width: 100%;
        top: 37%;
        right: 0;
      }

      .ball {
        width: 18px;
        height: 18px;
        background-color: red;
        border-radius: 100px;
        top: 36.4%;
        position: absolute;
        left: 0;
        z-index: 0;
        margin-top: -6px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          margin: 3px; /* !importanté */
          border-radius: inherit; /* !importanté */
          background: #fff;
        }
      }
    }
  }
}

.about {
  .line-ball {
    display: flex;
    position: relative;
    width: 45%;
    margin-top: -170px;
    margin-bottom: 170px;

    @media screen and (max-width: 2000px) {
      width: 44%;
    }

    @media screen and (max-width: 1600px) {
      width: 42%;
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      margin-top: 110px;
      top: 0;
      width: 75% !important;
    }

    @media screen and (max-width: 480px) {
      position: absolute;
      margin-top: 100px;
      top: 0;
      width: 75% !important;
    }

    @media screen and (min-width: 768px) {
      position: relative;
      margin-top: -170px;
      margin-bottom: 170px;
      width: 35% !important;
    }

    @media screen and (min-width: 950px) {
      width: 44% !important;
    }

    @media screen and (min-width: 2000px) {
      width: 47% !important;
    }

    hr.line {
      border: 2px solid red;
      position: absolute;
      width: 100%;
      top: 37%;
      left: 0;
    }

    .ball {
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 100px;
      top: 36.4%;
      position: absolute;
      left: 100%;
      z-index: 0;
      margin-top: -6px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: 3px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: #fff;
      }
    }
  }
}

.podcasts {
  .line-ball {
    display: flex;
    position: relative;
    width: 50%;

    @media screen and (max-width: 2000px) {
      width: 62%;
    }

    @media screen and (max-width: 1600px) {
      width: 70%;
    }

    @media screen and (max-width: 1024px) {
      width: 80% !important;
    }

    @media screen and (max-width: 768px) {
      width: 80% !important;
    }

    @media screen and (max-width: 480px) {
      width: 90% !important;
    }

    @media screen and (min-width: 2000px) {
      width: 62%;
    }

    hr.line {
      border: 2px solid red;
      position: absolute;
      width: 100%;
      top: 45%;
      left: 0;
    }

    .ball {
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 100px;
      top: 36.4%;
      position: absolute;
      left: 100%;
      z-index: 0;
      margin-top: -6px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: 3px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: #fff;
      }
    }
  }
}

.line-ball {
  &_person {
    display: flex;
    position: absolute;
    top: 20rem;
    width: 50%;
    right: 0;

    @media screen and (max-width: 1200px) {
      top: 24rem;
      width: 46%;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }

    &.right {
      left: 0;
      width: 45%;
    }

    hr.line {
      border: 2px solid red;
      position: absolute;
      width: 100%;
      top: 37%;
      right: 0;
    }

    .ball {
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 100px;
      top: 36.4%;
      position: absolute;
      left: 0;
      z-index: 0;
      margin-top: -6px;

      &.right {
        right: 0 !important;
        left: auto;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: 3px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: #fff;
      }
    }
  }
}

.line-ball {
  &_navigation {
    display: flex;
    position: relative;
    width: 60%;
    left: 0;

    hr.line {
      border: 2px solid red;
      position: absolute;
      width: 100%;
      top: 37%;
      right: 0;
    }

    .ball {
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 100px;
      top: 36.4%;
      position: absolute;
      right: 0;
      z-index: 0;
      margin-top: -6px;

      &.right {
        right: 0 !important;
        left: auto;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: 3px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: #fff;
      }
    }
  }
}

.line-ball {
  &_startscale {
    display: flex;
    position: absolute;
    top: 28rem;
    width: 33%;
    left: 0;

    @media screen and (max-width: 1600px) {
      width: 30%;
    }

    @media screen and (max-width: 1200px) {
      width: 40%;
    }

    @media screen and (max-width: 962px) {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      top: 23rem;
      width: 450px;
    }

    @media screen and (max-width: 480px) {
      top: 28rem;
      width: 75%;
    }

    @media screen and (min-width: 1600px) {
      width: 40%;
    }

    hr.line {
      border: 2px solid red;
      position: absolute;
      width: 100%;
      top: 37%;
      right: 0;
    }

    .ball {
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 100px;
      top: 36.4%;
      position: absolute;
      right: 0;
      z-index: 0;
      margin-top: -6px;

      &.right {
        right: 0 !important;
        left: auto;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: 3px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: #fff;
      }
    }
  }
}
