.podcasts__wrapper {
  margin-top: 100px;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  @media screen and (max-width: 480px) {
    width: 330px;
  }


}


.podcasts__card {
  position: relative;
  width: 200px;
  border-radius: 200px;
  transform: none !important;
  color: #fff;
  opacity: .5;

  &.swiper-slide-active {
    opacity: 1 !important;
  }



  @media screen and (max-width: 768px) {
    width: 150px;
  }

  @media screen and (max-width: 480px) {
    width: 150px;
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 60px; /* !importanté */
    background: #fff;
  }

  @media screen and (min-width: 1024px) {
    width: 700px !important;
    height: 400px !important;
  }

  &-banner {
    position: absolute;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(90deg, rgba(254, 0, 0, 1) 0%, rgba(255, 127, 0, 1) 100%);
    bottom: 40px;
    border-radius: 0% 0% 15px 15px;

    @media screen and (max-width: 480px) {
      bottom: 0;
      border-radius: 0% 0% 30px 30px;
    }
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  &-subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    display: block;
    width: 100%;
    text-align: center;
  }

}

.swiper-button-container {
  position: absolute;
  width: 730px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 90px;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 480px) {
    display: none;
  }



  .button-block-next {
    &.podcasts {
      top: -5rem;
      right: 0;
    }
  }

  .button-block-prev {
    &.podcasts {
      top: -5rem;
      left: -5px;
    }
  }
}


