.video__content {
  &.big {
    padding: 2rem 2rem;
    @media screen and (max-width: 1200px) {
      width: 800px;
      height: 500px;
      margin: 0 auto;
    }

    @media screen and (max-width: 1024px) {
      width: 650px;
      height: 400px;
      margin: 0 auto;
    }


    @media screen and (max-width: 768px) {
      width: 100%;
      height: 300px;
      margin: 0 auto;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      height: 100%;
      text-align: center;

    }
  }
}

#video-file {
  width: 100%;
  border-radius: 40px;

  @media screen and (max-width: 480px) {
    border-radius: 30px;
  }


}

.video {
  &__button {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    margin: 0 auto;
    transform: translate(20%, 80%);
    padding: 1rem 1.5rem;
    background-color: transparent;
    border: none;

    img {
      width: 100px;
      height: 100px;
    }

    @media screen and (max-width: 768px) {
      transform: translate(10%, 100px);
    }

    @media screen and (max-width: 480px) {
      transform: translate(10%, 50%);
    }

    @media screen and (min-width: 768px) {
      transform: translate(10%, 100px);
    }

    &-big {
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: translate(20%, 100%);
      padding: 5rem 1.5rem;
      background-color: transparent;
      border: none;

      @media screen and (max-width: 1200px) {
        transform: translate(10%, 80%);
        padding: 3rem 1.5rem;
      }

      @media screen and (max-width: 1024px) {
        transform: translate(10%, 50%);
        padding: 3rem 1.5rem;
      }

      @media screen and (max-width: 768px) {
        transform: translate(10%, 50%);
        padding: 3rem 1.5rem;
      }

      @media screen and (max-width: 480px) {
        transform: translate(10%, 50%);
        padding: 3rem 1.5rem;
      }

    }

  }
}

img#video-icon {
  width: 100px;
  height: 100px;

  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
  }

  @media screen and (max-width: 480px) {
    width: 60px;
    height: 60px;
  }


}

.video__content iframe {
  border-radius: 30px;
  height: 100%;

  @media screen and (max-width: 480px) {
    height: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .video_home {
    height: 185px !important;
  }

}

.youtube-container {
  display: block;
  width: 100%;
  max-width: 670px;
  margin: 30px auto;

  &.home-videos {
    margin: 0 auto;
    max-width: 100%;

    .youtube-player {
      margin: 0 auto;
      border-radius: 30px;
    }
  }

  &.who-video {
    margin: 0 auto;
    max-width: 100%;

    .youtube-player {
      margin: 0 auto;
      border-radius: 30px;

      iframe {
        height: 100%;

        @media screen and (max-width: 1024px) {
          height: 100%;
        }

        @media screen and (max-width: 768px) {
          height: 100%;
        }

        @media screen and (max-width: 480px) {
          height: 100%;
        }
      }
    }
  }

}

.youtube-player {
  display: block;
  margin: 20px auto;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: hand;
  cursor: pointer;
  display: block;
}

img.youtube-thumbnail {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
}

div.youtube-play-btn {
  height: 80px;
  width: 80px;
  left: 50%;
  top: 40%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("/images/icons/Saltatie-iconen_PlayButton.png") no-repeat center center;
background-size: 80px 80px;
}

.youtube-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home_videos {
  iframe {
    height: 100%;
  }
}