<template>
    <section class="entrepreneur section" id="entrepeneur">
        <div class="entrepreneur__container container grid">
            <div class="entrepreneur__data">
                <div class="entrepreneur__block__right">
                    <h1>{{ blockTextLeft }}</h1>
                    <h2>{{ personQuoteLeft }}</h2>
                </div>

            </div>
            <div class="colored-box"></div>
            <div class="image_box" :style="{ backgroundImage: `url(${backgroundUrl})` }">
            </div>
        </div>
        <div class="line-ball_entrepreneur">
            <hr class="line">
            <div class="ball"></div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ImageBlockRight",
        props: [
            'blockTextLeft',
            'personQuoteLeft',
            'backgroundUrl',
        ]
    }
</script>

<style scoped>

</style>
