<template>
    <section class="image_block_left section" id="image_block_left">
        <div class="image_block_left__container container grid">
            <div class="colored-box"></div>
            <div class="image_box" style="background-position: 40%;" :style="{ backgroundImage: `url(${backgroundUrl})` }">
            </div>

            <div class="image_block_left__data">
                <div class="about__block__right">
                    <h1>{{ blockTextRight }}</h1>
                    <h2>{{ personQuoteRight }}</h2>
                </div>

            </div>
        </div>
        <div class="line-ball_modder">
            <hr class="line">
            <div class="ball"></div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ImageBlockLeft",
        props: [
            'blockTextRight',
            'personQuoteRight',
            'backgroundUrl',
        ]
    }
</script>

<style scoped>

</style>
