<template>
    <section class="cookie">
        <div class="cookie__container">
            <div class="cookie__container-left">
                <h1>Hoe gebruiken wij onze cookies?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu viverra augue. Cras et auctor odio, sit amet pulvinar massa. 
                Vestibulum vitae mi fringilla, malesuada velit ac, egestas purus. Proin tempor ante dolor, in tincidunt ante rutrum vel. 
                Aenean tincidunt arcu sit amet mattis imperdiet. Nunc leo sem, porttitor sit amet mi sed, lobortis venenatis lectus. Ut molestie sem vitae arcu laoreet vulputate. 
                Etiam ullamcorper, tellus a commodo malesuada, nibh lacus tempor lacus, vel egestas eros nunc eget nisl.</p>
            </div>
            <div class="cookie__container-right">
                <div class="read-more-cookie">
                    <div class="button-block">
                        <nuxt-link :to="localePath(link3)">{{ $t('cookie_button_info') }}</nuxt-link>
                    </div>
                </div>
                    <div class="read-more-cookie">
                    <div class="button-block">
                        <nuxt-link :to="localePath(link3)">{{ $t('cookie_button_accept') }}</nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: [
            'top_title',
            'middle_title',
            'bottom_title',
            'indexPage'
        ],
        name: "Cookiebar"
    }
</script>
