<template>

    <!---------- FOOTER ---------->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content grid">
                <div class="footer__data">
                    <h3 class="footer__title">Contact</h3>
                    <h4 class="footer__description-title">Saltatie Investments B.V.</h4>
                    <p class="footer__description">
                        BIC 1, Paviljoen C7<br/>
                        5675 BX Eindhoven
                    </p>

                    <h4 class="footer__description-title"><a href="mailto:gijsbertvandenbrink@saltatie.nl">gijsbertvandenbrink@saltatie.nl</a></h4>
                    <p class="footer__description">
                        +31 6 53 88 73 44
                    </p>

                    <h4 class="footer__description-title"><a href="mailto:jeroendebruijn@saltatie.nl">jeroendebruijn@saltatie.nl</a></h4>
                    <p class="footer__description">
                        +31 6 21 52 35 67
                    </p>

                </div>

                <div class="footer__data menu">
                    <h3 class="footer__subtitle">{{ $t('footer_overview') }}</h3>
                    <ul>
                        <li class="footer__item"><nuxt-link :to="localePath('/')" class="footer__link">{{ $t('menu_title_1') }}</nuxt-link></li>
                        <li class="footer__item"><nuxt-link :to="localePath('/who')" class="footer__link">{{ $t('menu_title_2') }}</nuxt-link></li>
                        <li class="footer__item"><nuxt-link :to="localePath('/focus')" class="footer__link">{{ $t('menu_title_3') }}</nuxt-link></li>
                        <li class="footer__item"><nuxt-link :to="localePath('/distinctive')" class="footer__link">{{ $t('menu_title_4') }}</nuxt-link></li>
                        <li class="footer__item"><nuxt-link :to="localePath('/podcasts')" class="footer__link">{{ $t('menu_title_5') }}</nuxt-link></li>
                        <li class="footer__item"><nuxt-link :to="localePath('/contact')" class="footer__link">{{ $t('menu_title_6') }}</nuxt-link></li>
                    </ul>
                </div>

                <div class="footer__data-terms last-grid">
                    <ul>
                        <li class="footer__item-icon"><a target="_blank" href="mailto:info@saltatie.nl" class="footer__link">
                            <img width="60" height="60" src="/images/icons/Saltatie-iconen_Mail-white.png"
                                      alt="Footer icon 1"/>
                        </a></li>
                        <li class="footer__item-icon"><a target="_blank" href="https://www.linkedin.com/company/saltatie-investments-b-v/" class="footer__link">
                            <img width="60" height="60" src="/images/icons/Saltatie-iconen_LinkedIn-white.png"
                                      alt="Footer icon 1"/>
                        </a></li>
                    </ul>
                    <ul>
                        <li class="footer__item-icon"><a target="_blank" href="https://www.youtube.com/channel/UCgLzB-KF3R1axizNIEncU0g" class="footer__link">
                            <img width="60" height="60" src="/images/icons/Saltatie-iconen_Youtube-white.png"
                                      alt="Footer icon 1"/>
                        </a></li>
                        <li class="footer__item-icon"><a target="_blank" href="https://open.spotify.com/show/0RGFQoj4NIKHufFPnlLSAD?si=758613d649744a1a" class="footer__link">
                            <img width="60" height="60" src="/images/icons/Saltatie-iconen_Spotify-white.png"
                                      alt="Footer icon 1"/>
                        </a></li>
                        <li class="footer__item-icon"><a target="_blank" href="https://podcasts.apple.com/nl/podcast/podcasts-met-entrepreneurs/id1607966558" class="footer__link">
                            <img width="60" height="60" src="/images/icons/Saltatie-iconen_ApplePodcast-white.png"
                                      alt="Footer icon 1"/>
                        </a></li>
                        <li class="footer__item-icon"><a target="_blank" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hcHAuc3ByaW5nY2FzdC5mbS9wb2RjYXN0LXhtbC8xNTM1NQ?sa=X&ved=0CA4Q27cFahcKEwj4ldOk4v71AhUAAAAAHQAAAAAQAQ" class="footer__link">
                            <img width="60" height="60" src="/images/icons/Saltatie-iconen_GooglePodcast-white.png"
                                      alt="Footer icon 1"/>
                        </a></li>
                    </ul>
                    <div class="footer__rights">

                        <div class="footer__terms">
                            <ul>
                                <li><p class="footer__copy">&#169; Copyright</p></li>
                                <li><p class="footer__copy"><nuxt-link :to="localePath('/privacy-policy')">Privacy Policy</nuxt-link></p></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer",

        methods: {


        },
        mounted() {
        }
    }
</script>
