<template>
    <header class="header">


        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main first_line">{{ top_title }}</span>
                <span class="heading-primary--main middle_line">{{ middle_title }}</span>
                <span class="heading-primary--main last_line">{{ bottom_title }}</span>
            </h1>

            <div  v-if="indexPage === 'true'"  class="button-block header-button">
                <nuxt-link :to="localePath('/who')">{{ $t('read_more_button') }}</nuxt-link>
            </div>

        </div>


        <!--<span class="header__arrow"><font-awesome-icon :icon="['fas', 'arrow-down']" class="fa-icon-header"/></span>-->
        <img id="header-arrow" class="header__arrow" src="/images/icons/Saltatie-iconen_ArrowRight-white.png" />
    </header>
</template>

<script>
    export default {
        props: [
            'top_title',
            'middle_title',
            'bottom_title',
            'indexPage'
        ],
        name: "Header"
    }
</script>
