<template>
    <section class="start section" id="start-up">
        <div class="flex__container container">
            <div class="start-image">
                <img :src="require(`~/static/images/icons/${backgroundUrl}.gif`)"/>
            </div>
            <div class="start-textblock">
                <h1 class="focus-title">{{ title_block_left }}</h1>
                <p>{{ paragraph_block_left}}</p>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ImageBlockLeft",
        props: [
            'title_block_left',
            'paragraph_block_left',
            'backgroundUrl',
            'blockBackground'
        ]
    }
</script>

<style scoped>

</style>
