<template>
    <section class="scale section" id="scale-up">
        <div class="flex__container container">
            <div class="scale-textblock">
                <h1 class="focus-title">{{ title_block_right }}</h1>
                <p>{{ paragraph_block_right }}</p>
            </div>
            <div class="start-image">
                <img :src="require(`~/static/images/icons/${backgroundUrl}.gif`)"/>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ImageBlockRight",
        props: [
            'title_block_right',
            'paragraph_block_right',
            'backgroundUrl'
        ]
    }
</script>

<style scoped>

</style>
