<template>
    <div class="navigation" id="header" >
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">        


        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="logo-box">
            <nuxt-link :to="localePath('/')"><img src="/images/Saltatie-logo-beeldmerk-rgb.png" alt="Logo" id="logo-normal" class="logo"/></nuxt-link>
            <nuxt-link :to="localePath('/')"><img src="/images/saltatie_sneller_once.gif" alt="Logo" id="animated-logo" class="logo-animated"/></nuxt-link>

            <img src="/images/Saltatie-logo-woordmerk-rgb.png" alt="woord" class="word" />

        </div>

        <div class="language_switcher" id="languages">
            <ul>
                 <li class="switch" id="switch1">
                     <nuxt-link :to="switchLocalePath('nl')" class="testNl">
                        <img
                            class="dutch_flag"
                            src="/images/languages/Saltatie-iconen_VlagNL.png"
                            width="50" />
                    </nuxt-link>
                </li>
                <li class="switch" id="switch2">
                    <nuxt-link :to="switchLocalePath('en')" class="testEn">
                        <img
                        class="en_flag"
                        src="/images/languages/Saltatie-iconen_VlagEN.png"
                        width="50"/>
                    </nuxt-link>
                </li>
            </ul>
        </div>    
 

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav" id="nav-menu">
            <img class="navigation-logo" src="/images/Saltatie-logo-rgb.png"/>
            <ul class="navigation__list">
                <li
                        v-for="(menu, index) in menus"
                        :key="index"
                        :class="{ activeLink: $route.path === menu.link}"
                        class="navigation__item"
                >
                    <nuxt-link :to="localePath(menu.link)" class="navigation__link">{{ $t(menu.name) }}</nuxt-link>
                </li>
            </ul>
          
        </nav>
    </div>
</template>

<script>
import lottie from 'lottie-web'
    export default {
        name: "Navigation",

        data() {
            return{
                active: null,
                menus: [
                    {
                        name: 'menu_title_1',
                        link: '/'
                    },
                    {
                        name: 'menu_title_2',
                        link: '/who'
                    },
                    {
                        name: 'menu_title_3',
                        link: '/focus'
                    },
                    {
                        name: 'menu_title_4',
                        link: '/distinctive'
                    },
                    {
                        name: 'menu_title_5',
                        link: '/podcasts'
                    },
                    {
                        name: 'menu_title_6',
                        link: '/contact'
                    }
                ]

            }
        },

        methods: {
            isContact() {

            },

            animatedLogo() {
                const logo = document.getElementById("animated-logo");
            
            },

            logoVideo() {


            },

            navLinks() {
                const navLink = document.querySelectorAll('.navigation__link');
                const langSwitch = document.querySelectorAll('.switch');
                const checkbox = document.getElementById('navi-toggle');

                function linkAction() {
                    checkbox.checked =false;
                }
                navLink.forEach(n => n.addEventListener('click', linkAction));
                langSwitch.forEach(n => n.addEventListener('click', linkAction));
            },
        },
        mounted() {
            this.isContact();
            this.animatedLogo();
            this.navLinks();
            this.logoVideo();
        },
    }
</script>

