<template>
    <div>
        <div id="wrap">
            <div id="tab1" class="tab">Google Podcast
                <img class="hover" src="/images/icons/Saltatie-iconen_GooglePodcast.png" alt="Google Icon"/>
            </div>
            <div id="tab2" class="tab selected">Spotify Podcast
             <img class="hover" src="/images/icons/Saltatie-iconen_Spotify.png" alt="Spotify Icon"/>
            </div>
            <div id="tab3" class="tab">Apple Podcast
                <img class="hover" src="/images/icons/Saltatie-iconen_ApplePodcast.png"
            alt="Apple Icon"/>
            </div>

            <div id="container">
                <div id="slide" class="">
                    <div id="first" class="box">
                        <a target="_blank" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hcHAuc3ByaW5nY2FzdC5mbS9wb2RjYXN0LXhtbC8xNTM1NQ?sa=X&ved=0CA4Q27cFahcKEwj4ldOk4v71AhUAAAAAHQAAAAAQAQ"><img src="/images/podcasts-images/Google.png" alt="Google Podcast" /></a>
                    </div>
                    <div id="second" class="box">
                      <a target="_blank" href="https://open.spotify.com/show/0RGFQoj4NIKHufFPnlLSAD?si=758613d649744a1a"><img src="/images/podcasts-images/spotify.png" alt="Spotify Podcast" /></a>
                    </div>
                    <div id="third" class="box">
                      <a target="_blank" href="https://podcasts.apple.com/nl/podcast/podcasts-met-entrepreneurs/id1607966558"><img src="/images/podcasts-images/Apple.png" alt="Apple Podcast" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "podcastTabs",

        methods: {
            tabSlider() {
                const tab1 = document.getElementById("tab1");
                const tab2 = document.getElementById("tab2");
                const tab3 = document.getElementById("tab3");
                const tabs = document.getElementsByClassName("tab");

                tab1.onclick = function () {
                    moveToFirst();
                }
                tab2.onclick = function () {
                    moveToSecond();
                }
                tab3.onclick = function () {
                    moveToThird();
                }

                function moveToFirst() {
                    document.getElementById("slide").setAttribute("class", "move-to-first");
                    for (var i = 0; i < tabs.length; i++) {
                        tabs[i].setAttribute("class", "tab");
                    }

                    tab1.setAttribute("class", "tab selected");
                }

                function moveToSecond() {
                    document.getElementById("slide").setAttribute("class", "move-to-second");
                    for (var i = 0; i < tabs.length; i++) {
                        tabs[i].setAttribute("class", "tab");
                    }
                    tab2.setAttribute("class", "tab selected");
                }

                function moveToThird() {
                    document.getElementById("slide").setAttribute("class", "move-to-third");
                    for (var i = 0; i < tabs.length; i++) {
                        tabs[i].setAttribute("class", "tab");
                    }
                    tab3.setAttribute("class", "tab selected");
                }

            }


        },

        mounted() {
            this.tabSlider();
        }


    }
</script>

<style scoped>
    #wrap {
        width: 800px;
        margin: 0 auto;
        margin-top: -16rem;
    }

        @media screen and (max-width: 1024px) {
         #wrap {
             width: 100%;
             text-align: center;
        }
    }

    .tab {
        background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
        background-size: 0% 100%;
        border-radius: 50px;
        color: #000;
        display: inline-block;
        font-size: 2.5rem;
        border: solid 2px red;
        padding: 12px 20px 12px 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color .5s;
        width: 220px;
        font-family: var(--title-font);
        cursor: pointer;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #fff;
    }

    #tab1 .hover {
            display: none;
        }

        #tab2 .hover {
            display: none;
        }

        #tab3 .hover {
            display: none;
        }

        @media screen and (max-width: 1024px) {
            #tab1 .hover {
                width:62px;
                height: 62px;
                position: absolute;
                top: -3px;
                left: -3px;
                display: block;
            }

            #tab2 .hover {
                width:62px;
                height: 62px;
                position: absolute;
                top: -3px;
                left: -3px;
                display: block;
            }

            #tab3 .hover {
                width:62px;
                height: 62px;
                position: absolute;
                top: -3px;
                left: -3px;
                display: block;
            }
        }

        @media screen and (max-width: 1024px) {
         .tab {
            width: 60px;
            height: 60px;
            overflow: hidden;
            font-size: 50px;
            line-height: 0.9 ;
            padding: 10px 0 0 10px;
            letter-spacing: 10rem;
            color: #fff;
        }



        

        #tab1 {
            padding-top: 8px;
            position: relative;
            color: transparent;
        }

        #tab2 {
            padding-top: 8px;
            padding-left: 15px !important;
            position: relative;
            color: transparent;
        }

        #tab3 {
            padding-left: 12px;
            padding-top: 8px;
            position: relative;
            color: transparent;
        }
    }

    .tab::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: 2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: transparent;
    }

    .tab:hover {
        background-image: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
        background-repeat: no-repeat;
        background-size: 200% 100%;
        transition: background-size 1s, background-color 1s;
        border: solid 2px red;
        padding: 12px 20px 12px 20px;
        width: 220px;
        color: #fff;
    }

    @media screen and (max-width: 1024px) {
        .tab:hover {
        width: 60px;
        height: 60px;
        }
    }

    .selected {
        position: relative;
        border: solid 2px transparent;
        background: linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px transparent inset;
        color: #fff;
        text-align: center;
    }

    @media screen and (max-width: 1024px) {
        .selected {
            width: 60px !important;

        }

        #tab1.selected {
            padding-top: 8px;
            padding-left: 8px;
        }

        #tab2.selected {
            padding-top: 8px;
        }

        #tab3.selected {
            padding-left: 12px;
            padding-top: 8px;
        }
    }

    .selected:hover {
        position: relative;
        border: solid 2px transparent;
        background: linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px transparent inset;
        color: #fff;
        text-align: center;
    }



    #container {
        position: relative;
        width: 800px;
        height: auto;
        overflow: hidden;
        clear: left;
        margin-top: 10rem;
    }

    @media screen and (max-width: 1024px) {
         #container {
             width: 100%;
             height: 400px;
        }
    }
    @media screen and (max-width: 900px) {
         #container {
             width: 100%;
        }
    }

    @media screen and (max-width: 480px) {
         #container {
             height: 300px;
        }
    }

    .box {
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        width: 800px;
        height: 500px;

        line-height: 200px;
        text-align: center;
        font-size: 28pt;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        .box {
            width: 100%;
            height: 400px;
        }
    }

    #first {
        top: 0px;
        left: -800px;
    }

    @media screen and (max-width: 1024px) {
        #first img {
            width: 400px;
        }
    }

    @media screen and (max-width: 480px) {
        #first img {
            width: 300px;
        }
    }


    #second {
        top: 0px;
        left: 0px;
    }

    @media screen and (max-width: 1024px) {
        #second img {
            width: 400px;
        }
    }

    @media screen and (max-width: 480px) {
        #second img {
            width: 300px;
        }
    }

    #third {
        top: 0px;
        left: 800px;
    }

    @media screen and (max-width: 1024px) {
        #third img {
            width: 400px;
        }
    }

    @media screen and (max-width: 480px) {
        #third img {
            width: 300px;
        }
    }

    #slide {
        height: 500px;
        transition: transform 1s ease-in-out 0s;
        -moz-transition: -moz-transform 1s ease-in-out 0s;
        -webkit-transition: -webkit-transform 1s ease-in-out 0s;
    }

    .move-to-second {
        transform: translateX(0px);
        -moz-transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }

    .move-to-third {
        transform: translateX(-800px);
        -moz-transform: translateX(-800px);
        -webkit-transform: translateX(-800px);
    }

    .move-to-first {
        transform: translateX(800px);
        -moz-transform: translateX(800px);
        -webkit-transform: translateX(800px);
    }


</style>
