<template>
    <section class="subscribe" id="subscribe">
        <h1 class="subscribe-title">{{ $t('subscribe_title') }}</h1>
        <h2 class="subscribe-subtitle"> {{ $t('subscribe_subtitle_1') }} <nuxt-link :to="localePath('/contact')"><div class="subscribe-a"><a href="#">contact</a></div></nuxt-link> {{ $t('subscribe_subtitle_2') }}</h2>
    </section>
</template>

<script>
    export default {
        name: "Subscribe"
    }
</script>

<style scoped>

</style>
