*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //Defines what 1rem is
  font-size: 62.5%; //1rem = 10px;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-size: var(--body-font-size);
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  color: var(--color-body);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 12.5rem 0 12.5rem 0;

  @media screen and (min-width: 768px) {
  }

  &__title {
    font-size: 48px;;
    color: #3d2f2e;
    text-align: center;
  }
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);

  @media screen and (max-width: 480px) {
    width: 80%;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }

  @media screen and (max-width: 1200px) {
    width: 80%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }

}






