@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@font-face {
  font-family: 'made_mirage';
  font-weight: normal;
  src: url('~assets/fonts/MADE_Mirage_Medium.otf');
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  //color: $color-grey-dark;
}

h1 {
  color: var(--color-heading);
}

.heading-primary {
  font-family: var(--title-font);
  color: var(--color-text-white);
  backface-visibility: hidden;
  text-shadow: 3px 2px 10px #282828;
  margin-top: 30rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 480px) {
      margin-top: 10rem;
  }




  &--main {
    display: block;
    font-size: 7rem;
    line-height: 8rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @media screen and (max-width: 1024px) {
      font-size: 6rem;
    }


    @media screen and (max-width: 768px) {
      font-size: 4rem;
      line-height: 5rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 3.5rem;
      line-height: 5rem;
    }



    &.first_line {
      text-align: center;
    }
    &.middle_line {
      text-align: left;

      @media screen and (max-width: 1200px) {
        text-align: center;
      }

      @media screen and (max-width: 768px) {
        text-align: center;
      }

      @media screen and (max-width: 480px) {
        text-align: center;
      }



    }
    &.last_line {
      text-align: center;
    }

  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

  }
}

//.heading-secondary {
//  font-size: 3.5rem;
//  text-transform: uppercase;
//  font-weight: 700;
//  display: inline-block;
//  background-image: linear-gradient(
//                  to right,
//                  $color-primary-light,
//                  $color-primary-dark
//  );
//  -webkit-background-clip: text;
//  color: transparent;
//  transition: all .2s;
//  letter-spacing: 0.2rem;
//
//  &:hover {
//    transform: skewY(2deg) skewX(15deg) scale(1.1);
//    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
//  }
//}

//.heading-tertiary {
//  font-size: $default-font-size;
//  font-weight: 700;
//  text-transform: uppercase;
//}

.paragraph {
  font-size: var(--body-font-size);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
