/* ------------------ START CONTACT ------------------------- */
.contact__section {
  background: var(--color-background-light);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  h2 {
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    color: var(--color-heading);
    text-align: center;
  }

  p {
    font-family: var(--body-font);
    font-weight: var(--font-body);
    font-size: var(--body-font-size);
    color: var(--color-body);
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
  }

  img {
    display: block;
    height: 8rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin: 3rem 0rem;

    .section {
      &__social, &__podcasts {
        padding: 3rem 2rem;
        justify-content: center;
        align-content: center;
        width: 350px;

        border: solid 0.2rem transparent;
        border-radius: 2rem;

        background-color: v;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-dark), var(--color-primary-light));
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-attachment: fixed;
        box-shadow: 2px 1000px 1px #fff inset;
      }

      &__contact {
        width: 350px;
        padding: 3rem 2rem;
        justify-content: center;
        align-content: center;

        border: solid 0.2rem transparent;
        border-radius: 2rem;

        background-color: var(--color-background-light);
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(150deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-attachment: fixed;
        box-shadow: 2px 1000px 1px linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, var(--color-primary-dark), var(--color-primary-light)) inset;

        p {
          line-height: 2.5rem;
        }

        h2, p, a {
          color: white;
        }

      }
    }

  }
}



@media screen and (max-width: 964px) {
  .contact__section {
    background: var(--color-background-light);

    .container {
      flex-flow: row wrap;
      justify-content: center;
      align-items: space-between;
      grid-template-columns: 1fr;
      gap: 2rem;
      margin: 2rem;
      width: 100%;
    }

  }



  .section__contact {
    order: 1;
    width: 84% !important;
  }

  .section__social {
    order: 2;
    width: 84% !important;
  }

  .section__podcasts {
    order: 3;
    width: 84% !important;
  }

  .section__social h2, .section__podcasts h2 {
    width: 100%;
    margin: auto;
  }

  .contact__section img {
    display: flex;
    flex-flow: column wrap;
    height: 8rem;
    margin: 0 auto;
  }

  .section__contact, .section__social, .section__podcasts {
    padding: 2rem 1rem;
  }


  @media screen and (max-width: 768px) {

    /* ------------------ CONTACT SECTION --------------- */

    .contact__section {
      background: var(--color-background-light);
      display: flex;
      justify-content: center;
      align-content: center;


      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 2rem;
      }

    }


    .section__social, .section__contact, .section__podcasts {
      padding: 0rem;
      border: none;
      background-image: none;
    }

    .section__contact h2, .section__contact p, .section__contact a {
      color: var(--color-heading);
    }

    .section__contact {
      order: 1;
    }

    .section__social {
      order: 2;
      display: flex;
      flex-flow: row wrap;
    }

    .section__podcasts {
      order: 3;
      display: flex;
      flex-flow: row wrap;
    }

    .section__social h2, .section__podcasts h2 {
      width: 100%;
      margin: auto;
    }

    .contact__section img {
      display: flex;
      flex-flow: column wrap;
      height: 8rem;
      margin: 0.5rem;
    }

  }
}

.contact-header {
  width: 100%;
  height: 800px;

  @media screen and (max-width: 1024px) {
    height: 600px;
  }

  @media screen and (max-width: 600px) {
    height: 400px;
  }
}

.GMap__Wrapper {
  height: 800px !important;}

  #map {
    height: 800px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */

  }


  .gm-ui-hover-effect {
    display: none !important;
  }

  .gm-style-mtc {
    display: none;
  }

  .gm-control-active, .gm-fullscreen-control {
    display: none;
  }

  .gm-bundled-control, .gm-bundled-control-on-bottom {
    bottom: 200px !important;

    @media screen and (max-width: 480px) {
      bottom: 250px !important;
    }
  }

  .gm-style {
      top: 0;
    @media screen and (max-width: 480px) {
      top: 80px !important;
    }
  }

  .gm-style-iw, .gm-style-iw-c {
    max-width: 300px !important;
  }

  #firstHeading {
    font-family: var(--title-font);
    color: var(--color-heading);
  }

  #bodyContent {
    font-family: var(--body-font);
    color: var(--color-text-black);
    font-size: 1.3rem;
  }

  .route {
    a {
      text-decoration: underline;
    }
  }

  .gm-svpc {
    display: none;  
  }

  #map { 
    margin-top: 150px;
  }

  
  @media screen and (max-width: 480px) {
    #map { 
      height: 600px;
      margin-top: 100px;
    }
  }
