.distinctive-quote {
  @media screen and (max-width: 480px) {
    display: none;
  }
  .distinctive {
    &__container {
      display: flex;

      .distinctive {
        &-image {
          width: 400px;
          height: 350px;
          border-radius: 50px;
          background-image: url(/images/Still-podcasts1.png);
          background-size: cover;
          background-position: 0%;
          z-index: 2;

          @media screen and (max-width: 768px) {
            display: none;
          }

        }
      }

      .quote {
        h1 {
          font-family: var(--title-font);
          font-size: var(--h1-font-size);
          color: #3d2f2e;
          text-align: center;
          line-height: 8rem;
          width: 700px;
          margin-top: 250px;

          @media screen and (max-width: 1200px) {
            font-size: 5rem;
            width: 500px;
          }

          @media screen and (max-width: 1024px) {
            font-size: 4rem;
            width: 400px;
          }

          @media screen and (max-width: 768px) {
            font-size: 4rem;
            width: 100%;
            margin-top: 5rem;
          }

        }
      }
    }
  }

}

.financial_block {
  height: auto !important;
}