.start,
.scale {
  position: relative;
  &.section {
    @media screen and (max-width: 480px) {
      padding-bottom: 0rem !important;

      &.value {
        padding-bottom: 12.5rem !important;
      }
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 0rem !important;

      &.value {
        padding-bottom: 12.5rem !important;
      }
    }
  }
}

.scale {
  @media screen and (max-width: 768px) {
    // height: 600px;
    height: 100%;
  }

  @media screen and (max-width: 480px) {
    // height: 650px;
    height: 100%;
  }
}

.flex {
  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 480px) {
      display: grid;
    }

    @media screen and (max-width: 768px) {
      display: grid;
    }

    .start {
      &.section {
        @media screen and (max-width: 480px) {
          padding: 0rem !important;
        }

        @media screen and (max-width: 768px) {
          padding: 0rem !important;
        }
      }

      &-image {
        width: 400px;
        height: 400px;
        border-radius: 50px;
        background: linear-gradient(
          135deg,
          rgba(254, 0, 0, 1) 35%,
          rgba(255, 127, 0, 1) 100%
        ) !important;
        z-index: 2;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;

        img {
          width: 100px;
        }

        @media screen and (max-width: 1024px) {
          width: 400px;
          height: 350px;
          border-radius: 30px;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          height: 250px;
          border-radius: 30px;
        }

        @media screen and (max-width: 480px) {
          width: 100%;
          height: 250px;
          border-radius: 30px;
        }
      }

      &-textblock {
        width: 600px;
        margin-left: 10rem;

        @media screen and (max-width: 1024px) {
          width: 400px;
          margin-left: 5rem;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-left: 0;
          margin-top: 1rem;
        }

        @media screen and (max-width: 480px) {
          width: 100%;
          margin-left: 0;
          margin-top: 1rem;
        }

        h1 {
          font-family: var(--title-font);
          font-size: 4.5rem;
          line-height: 7rem;

          @media screen and (max-width: 1024px) {
            font-size: 4rem;
            line-height: 4.5rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 3.3rem;
            line-height: 4rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }

          @media screen and (max-width: 480px) {
            font-size: 3.3rem;
            line-height: 4rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }
        }

        p {
          margin: 2rem 0 2rem 0;

          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
            margin: 1rem 0 1rem 0;
          }

          @media screen and (max-width: 480px) {
            font-size: 1.2rem;
            margin: 1rem 0 1rem 0;
          }
        }
      }
    }

    .scale {
      &-textblock {
        width: 600px;
        margin-right: 10rem;

        @media screen and (max-width: 1024px) {
          margin-right: 5rem;
          width: 400px;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-right: 0;
          margin-top: 1rem;
          order: 2;
        }

        @media screen and (max-width: 480px) {
          width: 100%;
          margin-right: 0;
          margin-top: 1rem;
          order: 2;
        }

        h1 {
          font-family: var(--title-font);
          font-size: 4.5rem;
          line-height: 7rem;

          @media screen and (max-width: 1024px) {
            font-size: 4rem;
            line-height: 4.5rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 3.3rem;
            line-height: 4rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }

          @media screen and (max-width: 480px) {
            font-size: 3.3rem;
            line-height: 4rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }
        }

        p {
          margin: 2rem 0 2rem 0;

          @media screen and (max-width: 480px) {
            margin: 1rem 0 1rem 0;
            font-size: 1.2rem;
          }

          @media screen and (max-width: 768px) {
            margin: 1rem 0 1rem 0;
            font-size: 1.2rem;
          }

          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
          }
        }
      }
    }

    .highdeep {
      &-textblock {
        width: 600px;
        margin-right: 10rem;

        @media screen and (max-width: 1024px) {
          width: 400px;
          margin-right: 5rem;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-right: 0;
          margin-top: 2rem;
          order: 2;
        }

        @media screen and (max-width: 480px) {
          width: 100%;
          margin-right: 0;
          margin-top: 2rem;
          order: 2;
        }

        h1 {
          font-family: var(--title-font);
          font-size: var(--h1-font-size);
          line-height: 7rem;

          @media screen and (max-width: 1024px) {
            font-size: 4rem;
            line-height: 5rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 3.3rem;
            line-height: 4rem;
          }

          @media screen and (max-width: 480px) {
            font-size: 3.3rem;
            line-height: 4rem;
          }
        }

        p {
          margin: 2rem 0 0.5rem 0;

          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
          }

          @media screen and (max-width: 768px) {
            font-size: 1.4rem;
            margin: 1rem 0 0.5rem 0;
          }

          @media screen and (max-width: 480px) {
            font-size: 1.2rem;
            margin: 1rem 0 0.5rem 0;
          }
        }

        ul {
          margin-left: 2rem;
          @media screen and (max-width: 1024px) {
            font-size: 1.4rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 1.4rem;
            margin-left: 2rem;
          }
          @media screen and (max-width: 480px) {
            font-size: 1.2rem;
            margin-left: 2rem;
          }
        }
      }
    }
  }
}

.start2 {
  margin: 12.5rem 0 12.5rem 0;

  @media screen and (max-width: 768px) {
    padding: 0rem;
    margin-bottom: 0rem;
  }

  @media screen and (max-width: 480px) {
    padding: 0rem;
    margin-bottom: 0rem;
  }

  .flex__container {
    margin-top: 7rem;
  }

  ol {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--color-body);
    text-align: left;
    counter-reset: foo;
    display: table;
    margin: 2rem 0;
  }

  ol > li {
    counter-increment: foo;
    display: table-row;
  }

  ol > li::before {
    content: counter(foo) ") ";
    display: table-cell;
    text-align: right;
    font-weight: var(--font-bold);
    color: var(--color-primary-dark);
    padding-right: 0.6rem;
  }
}

.start-colored-box {
  position: absolute;
  width: 40%;
  z-index: -1;
  height: 800px;
  background: linear-gradient(
    125deg,
    rgba(254, 0, 0, 1) 35%,
    rgba(255, 127, 0, 1) 100%
  );
  border-radius: 50px;
  overflow: hidden;
  left: -100px;
  top: 0;
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
