
.about__block__left {
  margin-top: -200px;
  width:100%;
  @media screen and (max-width: 768px){
    z-index: -1;
  }

  h1 {
    font-family: var(--title-font);
    font-size: 7.2rem;
    color: #3d2f2e;
    line-height: 5rem;
    margin-top: 110px;
    float: right;
    margin-right: 80px;


    @media screen and (max-width: 1200px) {
      width: 100%;
      margin-right: 0;
      float: left;
      font-size: 6rem;
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      margin-right: 0;
      float: left;
      font-size: 4.5rem;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
      float: left;
      font-size: 6rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 4.5rem;
      float: left;
      width: 100%;
    }


  }


}

.about__block__right {
  position: absolute;
  bottom: 0;

  @media screen and (max-width: 1024px) {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 480px) {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }

  h1 {
    font-family: var(--title-font);
    font-size: 7.2rem;
    color: #3d2f2e;
    text-align: center;
    line-height: 8rem;

    @media screen and (max-width: 1200px) {
      font-size: 5rem;
      line-height: 7rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 5rem;
      line-height: 7rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 4rem;
      line-height: 7rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 3.5rem;
      line-height: 5rem;
    }



  }

  h2 {
    font-family: var(--title-font);
    color: #3d2f2e;
    font-weight: var(--font-body);
    text-align: center;
    font-size: 4rem;

    @media screen and (max-width: 480px) {
      font-size: 2.5rem;
      float: left;
      width: 100%;
    }
  }

}

.podcasts_block_right {

  h1 {
    font-family: var(--title-font);
    font-size: 7.2rem;
    color: #3d2f2e;
    text-align: center;
    line-height: 8rem;

    @media screen and (max-width: 1024px) {
      line-height: 6rem;
      font-size: 6rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 768px) {
      line-height: 6rem;
      font-size: 4.5rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 480px) {
      line-height: 6rem;
      font-size: 4.5rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }



  }
}

.future_block_right {
  margin-top: 80px;
  margin-left: 10px;

  h1 {
    font-family: var(--title-font);
    font-size: 7.2rem;
    color: #3d2f2e;
    text-align: left;
    line-height: 8rem;
  }
}

.entrepreneur__block__right {
  position: absolute;
  bottom: 0;

  @media screen and (max-width: 1024px) {
    position: relative;
  }

  @media screen and (max-width: 768px) {
    position: relative;
  }

  @media screen and (max-width: 480px) {
    position: relative;
  }



  h1 {
    font-family: var(--title-font);
    font-size: 7.2rem;
    color: #3d2f2e;
    text-align: center;
    line-height: 8rem;
    margin-right: 0;

    @media screen and (max-width: 1200px) {
      font-size: 5rem;
      line-height: 7rem;
      margin-right: 15rem;
    }

    @media screen and (max-width: 1024px) {
      font-size: 5rem;
      line-height: 7rem;
      margin-right: 0;
    }

    @media screen and (max-width: 768px) {
      font-size: 5rem;
      line-height: 7rem;
      margin-right: 0;
    }

    @media screen and (max-width: 480px) {
      font-size: 3.5rem;
      line-height: 5rem;
      margin-right: 0;
    }

  }

  h2 {
    font-family: var(--title-font);
    color: #3d2f2e;
    font-weight: var(--font-body);
    text-align: center;
    font-size: 4rem;

    @media screen and (max-width: 1200px) {
      font-size: 4rem;
      line-height: 7rem;
      margin-right: 15rem;
    }

    @media screen and (max-width: 1024px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
      font-size: 3.5rem;
      margin: 0 auto;
    }

    @media screen and (max-width: 480px) {
      font-size: 2.5rem;
      margin: 0 auto;
    }
  }
}

.home_quote_1 {
  @media screen and (max-width: 1024px) {
    margin: 0 !important;
  }
}

.about {
  @media screen and (max-width: 768px) {
    position: relative;
    padding-bottom: 0 !important;
  }

  @media screen and (max-width: 480px) {
    position: relative;
    padding-bottom: 0 !important;
    overflow: hidden;
  }



  &__data, &__title {
    @media screen and (min-width: 768px) {
      text-align: initial;
    }
  }

  &__data {
    @media screen and (max-width: 480px) {
      position: relative;
      width: 300px;
      overflow: hidden;
    }
  }

  &__title {
    margin-bottom: var(--mb-1-5);
    font-size: 38px;
    line-height: 5rem;
    font-family: var(--title-font);

    @media screen and (max-width: 1024px) {
      text-align: left;
      font-size: 3rem;
      line-height: 4rem;
    }

    @media screen and (max-width: 768px) {
      text-align: left;
      font-size: 3rem;
    }

    @media screen and (max-width: 480px) {
      text-align: left;
      font-size: 2.5rem;
      line-height: 3.5rem;
    }




  }

  &__container {
    row-gap: 2.5rem;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  &__description {
    margin-bottom: var(--mb-2);

    @media screen and (min-width: 768px) {
      margin-bottom: var(--mb-2);
      font-family: var(--body-font);
      font-weight: 300;
      color: #000;
      text-align: justify;
      width: 400px;
      font-size: 1.6rem;
    }

    @media screen and (max-width: 480px) {
      width: 300px;
    }

    &__img {
      display: flex;
      column-gap: 1rem;
      align-items: center;
      justify-content: center;

      &-overlay {
        overflow: var(--img-hidden);
      }

      &-one {
        width: 130px;

        @media screen and (min-width: 1024px) {
          width: 240px;
        }
      }

      &-two {
        width: 180px;

        @media screen and (min-width: 1024px) {
          width: 290px;
        }

      }
    }
  }
}


/* FOCUS SECTION */
.focus {
  background: linear-gradient(180deg, #FFF 7.1rem, var(--color-background-light) 7.1rem);
  margin: 25rem 0 25rem 0;
  position: relative;


  @media screen and (max-width: 1024px) {
    margin: 0!important;
  }

  @media screen and (max-width: 768px) {
    margin: 0!important;
  }

  @media screen and (max-width: 480px) {
    margin: 0!important;
  }




  .section {
    &__title {
      font-family: var(--title-font);
      font-size: var(--h1-font-size);
      color: var(--color-heading);
      text-align: center;
      width: 100%;
      margin-top: -11.5rem;

      @media screen and (max-width: 768px) {
        line-height: 6rem;
        font-size: 4.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: -8.5rem;
      }

      @media screen and (max-width: 600px) {
        line-height: 6rem;
        font-size: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: -8.5rem;
      }

      @media screen and (max-width: 480px) {
        line-height: 6rem;
        font-size: 4.5rem;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
      }


    }
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;

    @media screen and (max-width: 480px) {
      display: block;
      margin-top: 5rem;
    }

    @media screen and (max-width: 768px) {
      display: block;
      margin-top: 5rem;
    }

    .section__text {
      width: 50%;
      justify-content: center;
      align-items: center;
      padding-right: 20px;

      @media screen and (max-width: 768px) {
        font-size: 4rem;
        width: 100%;
      }

      @media screen and (max-width: 480px) {
        width: 100%;
        font-size: 4rem;
      }

      .button-block {
        margin-top: 3rem;
      }
    }
  }


  .image__right {
    display: flex;
    width: 600px;
    height: 500px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;

    @media screen and (max-width: 1024px) {
      width: 400px;
      height: 300px;
      border-radius: 30px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (max-width: 480px) {
      display: none;
    }

  }

  .image__right img {
    flex-shrink: 0;
    min-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  h2 {
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    color: var(--color-heading);
    text-align: left;
    width: 400px;
    line-height: 6rem;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      font-size: 4rem;
      width: 100%;
      line-height: 5rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 4rem;
      width: 300px;
      line-height: 5rem;
    }

  }

  p {
    font-family: var(--body-font);
    font-weight: var(--font-body);
    font-size: var(--body-font-size);
    color: var(--color-body);
    text-align: left;
    margin-top: 6rem;
    margin-right: 5rem;

    @media screen and (max-width: 768px) {
      margin-right: 0;
    }

    @media screen and (max-width: 480px) {
     margin-right: 0;
    }


  }

  ol {
    font-family: var(--body-font);
    font-weight: var(--font-body);
    font-size: var(--body-font-size);
    color: var(--color-body);
    text-align: left;
    counter-reset: foo;
    display: table;
  }

  ol > li {
    counter-increment: foo;
    display: table-row;
  }

  ol > li::before {
    content: counter(foo) ") ";
    display: table-cell;
    text-align: right;
    font-weight: var(--font-bold);
    color: var(--color-primary-dark);
    padding-right: 0.6rem;
  }
}


/* ENTREPRENEUR SECTION */

.entrepreneur {
  margin: 12.5rem 0 12.5rem 0;
  height: 800px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    height: 500px !important;
    margin-top: 10rem;
    margin-bottom: 0rem !important;
    padding: 0;
  }


  @media screen and (max-width: 768px) {
    height: 500px !important;
    margin-top: 10rem;
    padding: 0;
  }

  @media screen and (max-width: 480px) {
    margin:0;
    padding: 0;
  }


}

.we_are {
  @media screen and (max-width: 480px) {
    height: 400px !important;
  }
}

.entrepreneur__container {
  max-width: 1400px;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;

  @media screen and (max-width: 1024px) {
    display: block;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }

  @media screen and (max-width: 480px) {
    display: block;
  }



}

.entrepreneur__data {
  position: relative;
  width: 750px;
  margin-left: -50px;

  @media screen and (max-width: 1200px) {
    width: 600px;
    margin-left: 0;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-left: 0;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-left: 0;
  }


}

.podcasts {
  margin: 12.5rem 0 12.5rem 0;
  height: 1000px;
  position: relative;
  overflow: hidden;
  font-family: 'Poppins', serif;

  @media screen and (max-width: 1200px) {
    margin: 0;
    padding: 0;
    height: 900px;
  }

  @media screen and (max-width: 1024px) {
    margin: 0rem 0 0 0;
    padding: 0;
    height: 900px;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    padding: 0;
    height: 900px;
  }

  @media screen and (max-width: 600px) {
    margin: 0;
    padding: 0;
    height: 800px;
  }

  @media screen and (max-width: 480px) {
    margin: 0;
    padding: 0;
    height: 700px;
  }



  .listen-also {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin: 50px auto 0px auto;
    align-items: self-end;


    @media screen and (max-width: 768px) {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }


    @media screen and (max-width: 480px) {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }


    h2 {
      font-size: 2.5rem;
      margin-bottom: 5px;
      font-family: var(--title-font);

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 2rem;
        width: 260px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }

    a {
      margin-top: 1rem;
    }

    img.podcasts-icon {
      width: 55px;
      height: 55px;
      margin-left: -3rem;

      @media screen and (max-width: 768px) {
        margin-left: 0rem;
      }
    }

  }

  .more-podcast {
    text-align: center;
    margin-top: 30px;
  }

}

.podcasts__container {
  max-width: 1400px;
}


.span-gradient {
  background: linear-gradient(212deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%) !important;
}

.discover {
  background-color: #fff3e0;
  padding: 5rem 0 5rem 0;
  margin: 25rem 0 25rem 0;

  @media screen and (max-width: 1024px) {
    padding-bottom: 5rem;
    margin: 10rem 0 0rem 0;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 5rem;
    margin: 10rem 0 0rem 0;
  }

  @media screen and (max-width: 480px) {
    padding-bottom: 5rem;
    margin: 10rem 0 0rem 0;
  }

  .section__title {
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
    color: var(--color-heading);
    text-align: center;
    width: 100%;
    margin-top: -11rem;


    @media screen and (max-width: 768px) {
      line-height: 6rem;
      font-size: 4.5rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: -8.5rem;
    }

    @media screen and (max-width: 480px) {
      line-height: 6rem;
      font-size: 4.5rem;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }


  }
}

@media screen and (min-width: 1024px) {
  .discover__container {
    width: 1010px;
    margin-top: 8rem;
  }
}

@media screen and (max-width: 1024px) {
  .discover__container {
    width: 800px;
    margin-top: 8rem;
  }
}



@media screen and (max-width: 768px) {
  .discover__container {
    width: 300px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .discover__container {
    width: 300px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
}







.discover__card {
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
  border-radius: 30px;
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
}

.discover__card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 5px; /* !importanté */
  border-radius: 25px; /* !importanté */
  background: #fff3e0;
}

@media screen and (min-width: 1024px) {
  .discover__card {
    width: 350px !important;
    height: 400px !important;
  }
}

@media screen and (min-width: 768px) {
  .discover__card {
    width: 350px !important;
    height: 400px !important;
  }
}



.discover__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;

  @media screen and (max-width: 768px) {
    top: 2.5rem;
    left: 0;
  }

  @media screen and (max-width: 480px) {
    top: 2.5rem;
    left: 0;
  }



}

@media screen and (min-width: 768px) {
  .discover__data {
    left: 2.4rem;
    right: 2.4rem;
    top: 2rem;
  }
}


.discover__title {
  font-size: 34px;
  text-align: center;
  line-height: 4.5rem;
  font-family: var(--title-font);
  font-weight: 500;

  margin-bottom: 15px;

  &_extra {
    margin-top: -2rem;
    font-size: 34px;
    text-align: center;
    line-height: 4.5rem;
    font-family: var(--title-font);
    font-weight: 500;
    margin-bottom: 15px;

    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .discover__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  .discover__title {
    font-size: 26px;
  }
}

.discover__description {
  display: block;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  line-height: 2.4rem;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 12px;
}

.discover__img {
  transition: var(--img-transition);
}

.discover__img:hover {
  transform: var(--img-scale);
}


.sponsor__content:hover .sponsor__img {
  filter: invert(0.5);
}

.swiper-slide-active.discover__card::before {
  background: transparent !important;
}

.swiper-slide-active .discover__title {
  color: #fff;
  text-align: center;
}

.swiper-slide-active .discover__title_extra {
  color: #fff;
  text-align: center;
}

.swiper-slide-active .discover__description {
  color: #fff;
}

.icon__box {
  position: relative;
  width: 60px;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: -1;
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
  border-radius: 50px;
  padding: 2.4px;
  margin: 10px auto 20px auto;
}

.swiper-slide-active .icon__box {
  background: #fff;
}

.swiper-slide-active .icon__box::before {
  background: #fff;
}

.icon__box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 3px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: #fff3e0;
}

.icon_image {
  position: relative;
  width: 27px;
  z-index: 100;
  margin-left: 1.7rem;
}

#image_one {
  margin-top: 14px;
}

#image_two {
  margin-top: 13px;
  width: 27px;
  margin-left: 1.75rem;
}

#image_three {
  margin-top: 1.5rem;
  width: 3rem;
  margin-left: 1.5rem
}

#image_one {
  margin-top: 14px;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 3px;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
}

.swiper-block {
  width: 100%;
  margin: 30px auto;
}

.button-block-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 2;
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
  border-radius: 50px;
  left: 310px;
  top: 50%;

  @media screen and (max-width: 1200px) {
    left: 290px;
  }

  @media screen and (max-width: 1024px) {
    left: 210px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.button-block-prev::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: #fff;
}

.button-block-next {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 2;
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%);
  border-radius: 50px;
  right: 310px;
  top: 50%;


  @media screen and (max-width: 1200px) {
    right: 290px;
  }

  @media screen and (max-width: 1024px) {
    right: 210px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

}

.button-block-next::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: #fff;
}


.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: bold;
}

.swiper-container-3d .swiper-slide-shadow-right, .swiper-slide-shadow-left {
  background-image: none !important;
}

.swiper-pagination {
  position: relative !important;
  z-index: 1 !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 3px !important;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(125deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%) !important;
}



















