.podcast-info {
  @media screen and (max-width: 768px) {
    padding: 8rem 0 8rem 0
  }




  .podcast {
    &__container {
      p {
        width: 675px;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}

.podcast-videos-section {
  position: relative;
  padding: 12.5rem 0 5rem 0;
  margin: 8rem 0 12.5rem 0;
  background-color: #fff3e0;
  @media screen and (max-width: 768px) {
    padding: 8rem 0 5rem 0;
    margin: 8rem 0 12.5rem 0;
  }

  @media screen and (max-width: 480px) {
    padding: 5rem 0 5rem 0;
    margin: 8rem 0 12.5rem 0;
  }

  .container {
    position: relative;
  }


}

.podcast-programs {
  margin: 3rem 0 8rem 0;
  padding: 12.5rem 0 5rem 0;

  @media screen and (max-width: 480px) {
    margin: 0 !important;
  }
}

.podcast-video-title {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  line-height: 8rem;
  width: 600px;
  text-align: center;
  margin: 0 auto 0 auto;
  position: absolute;
  top: -170px;
  left: 0;
  right: 0;

  @media screen and (max-width: 768px) {
    top: -125px;
    font-size: 4.5rem;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    font-size: 4rem;
    line-height: 5rem;
    top: -100px;
    width: 100%;
  }
}

.podcast-road-title {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  line-height: 8rem;
  width: 600px;
  text-align: center;
  margin: 150px auto 100px auto;

  @media screen and (max-width: 700px) {
    font-size: 4.5rem;
    width: 60%;
    line-height: 5rem;
    margin: 50px auto 70px auto;
  }

  @media screen and (max-width: 480px) {
    font-size: 4rem;
    line-height: 5rem;
    top: -100px;
    width: 100%;
  }
}

.podcast-road {
  padding: 0rem 0 12.5rem 0;


  &-cards {
    display: flex;
    gap: 5rem;
    width: 80%;
    margin: 8rem auto 5rem auto;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }

    @media screen and (max-width: 900px) {
      display: grid;
      width: 350px;
    }

    @media screen and (max-width: 480px) {
      width: 280px;
    }

      a {
        .card {
          position: relative;
          width: 100%;
          height: 375px;
          border-radius: 30px;
          border: solid 3px transparent;
          background-image: linear-gradient(150deg, rgba(254, 0, 0, 1),  rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
          background-origin: border-box;
          background-clip: content-box, border-box;
          box-shadow: 2px 1000px 1px #fff inset;
          text-align: center;
          transition: .5s all;
  
          &:hover {
            box-shadow: none;
            color: #fff;
  
            img {
              opacity: 0;
            }
  
            img.hover {
              opacity: 1;
            }
  
          }
  
          img {
            width: 100px;
            opacity: 1;
          }
  
          img.hover {
            position: absolute;
            margin: 2rem auto 0 auto;
            left: 0;
            right: 0;
            opacity: 0;
          }
  
          h2 {
            font-size: 3.5rem;
            padding: 0 15px 30px 15px;
            text-align: center;
            line-height: 5rem;
            margin-top: 4rem;
            font-family: "made_mirage", serif;
            font-family: var(--title-font);
  
            @media screen and (max-width: 900px) {
              width: 80%;
              margin: 4rem auto 0 auto;
            }
          }
  
          &.two {
            position: relative;
            width: 100%;
            height: 375px;
            border-radius: 30px;
            border: solid 3px transparent;
            background-image: linear-gradient(150deg, rgba(254, 0, 0, 1),  rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
            background-origin: border-box;
            background-clip: content-box, border-box;
            box-shadow: 2px 1000px 1px transparent inset;
            color: #fff;
            text-align: center;
            transition: .5s all;
  
            &:hover {
              background-image: linear-gradient(150deg, rgba(254, 0, 0, 1),  rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
              background-origin: border-box;
              background-clip: content-box, border-box;
              box-shadow: 2px 1000px 1px #fff inset;
              border: solid 3px transparent;
              color: var(--color-heading) !important;
  
  
            }
  
          }
        }
  
      }
  }
}

@media screen and (min-width: 900px) {
  .swiper-podcast-buttons-mobile {
      display: none;
  }
}

@media screen and (max-width: 900px) {
  .podcasts-swiper-next-mobile {
      display: block;
      color: #000;
      padding: 2rem 2.1rem;
      background-color: transparent;
      border-radius: 100px;
      width: auto !important;
      z-index: 10;
      position: absolute;
      right: -2rem !important;
      top: 55% !important;

      &::after {
        font-size: 25px !important;
        background:-moz-linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        background: -webkit-linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        background: linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    }
  }

  .podcasts-swiper-prev-mobile {
      display: block;
      color: #000;
      padding: 2rem 2.1rem;
      border-radius: 100px;
      z-index: 10;
      position: absolute;
      background-color: transparent;
      width: auto !important;
      bottom: 0 !important;
      left: -2rem !important;
      top: 55% !important;

      &::after {
        font-size: 25px !important;
        background:-moz-linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        background: -webkit-linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        background: linear-gradient(150deg, rgba(254, 0, 0, 1), rgba(255, 127, 0, 1)), linear-gradient(150deg, #FE0000, #FF7F00);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
      }
  }

  @media screen and (max-width: 768px) {
    .podcasts-swiper-next-mobile {
      top: 50% !important; 
    }

      .podcasts-swiper-prev-mobile {
        top: 50% !important; 
    }
  }

  @media screen and (max-width: 700px) {
    .podcasts-swiper-next-mobile {
      top: 55% !important; 
    }

      .podcasts-swiper-prev-mobile {
        top: 55% !important; 
    }
  }

  @media screen and (max-width: 600px) {
    .podcasts-swiper-next-mobile {
      top: 50% !important; 
    }

      .podcasts-swiper-prev-mobile {
        top: 50% !important; 
    }
  }

  @media screen and (max-width: 480px) {
    .podcasts-swiper-next-mobile {
      top: 40% !important; 
    }

      .podcasts-swiper-prev-mobile {
        top: 40% !important; 
    }
  }
}
