.privacy {

    &__heading {
        width: 100%;
        text-align: center;
        margin-bottom: 7rem;

        h1 {
            font-family: var(--title-font);
            font-size: var(--h3-font-size);
            margin: 10rem auto 0 auto;
        }
    
        h2 {
            font-family: var(--title-font);
            color: var(--color-heading);
            margin: 0 auto;

            a {
                color: var(--color-heading);
                display: inline;
                position: relative;
                overflow: hidden;
        
                &::after {
                  content: "";
                  position: absolute;
                  z-index: 0;
                  right: 0;
                  width: 0;
                  bottom: -5px;
                  background: linear-gradient(150deg, rgba(254, 0, 0, 1) 35%, rgba(255, 127, 0, 1) 100%) !important;
                  height: 2px;
                  transition-property: width;
                  transition-duration: 0.3s;
                  transition-timing-function: ease-out;
                }
        
                &:hover:after,
                &:focus:after,
                &:active:after {
                  left: 0;
                  right: auto;
                  width: 100%;
                }
              }
        }
    }



    .list {
        margin-bottom: 3.5em;

        &__title {
            font-weight: var(--font-bold);
        }

        ol {
            margin-left: 5rem;
            margin-top: 1rem;

            ul {
                margin: 1rem 0rem 2.5rem 5rem;
                li {
                    list-style-type: none;
                    text-indent: -.7rem;
                }

                li::before {
                    content: "• ";
                    color: black; /* or whatever color you prefer */
                  }
            }
        }

    }

    .drawn {
        width: 100%;
        text-align: center;
        font-family: var(--body-font);
    }

}