.logo {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;

  &__container {
    width: 800px;
    margin: 0 auto !important;
    padding: 0rem !important;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }

  }
}

.who_quote_1 {
  @media screen and (max-width: 1024px) {
    margin: 0 !important;
  }
  @media screen and (max-width: 480px) {
    height: 500px;
  }
}


.knowing {
  background: linear-gradient(180deg, #FFF 7.1rem, var(--color-background-light) 7.1rem);
  padding-bottom: 5rem !important;

  @media screen and (max-width: 1024px) {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem !important;
  }

  @media screen and (max-width: 768px) {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem !important;
  }
  @media screen and (max-width: 480px) {
    margin-top: 5rem;
    margin-bottom: 5rem !important;
  }

  .section {
    &__title {
      font-family: var(--title-font);
      font-size: var(--h1-font-size);
      color: var(--color-heading);
      text-align: center;
      width: 100%;
      margin-top: -11.5rem;

      @media screen and (max-width: 1024px) {
        font-size: 4.5rem;
        margin-top: -10rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 4.5rem;
        margin-top: -10rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 4.5rem;
        margin-top: -10rem; 
      }
    }
  }

  .video__container {
    margin-top: 3rem;

    @media screen and (max-width: 480px) {
      width: 100%;
      border-radius: 30px;
    }

    .who_video {
      height: 653px;

      @media screen and (max-width: 1200px) {
        height: 400px;
      }

      @media screen and (max-width: 1024px) {
        height: 340px;
      }

      @media screen and (max-width: 768px) {
          height: 280px;
      }

      @media screen and (max-width: 600px) {
        height: 230px;
    }

    @media screen and (max-width: 480px) {
      height: 185px;
      width: 330px;
  }

    }
  }


}

.information-left {
  position: relative;

  @media screen and (max-width: 1024px) {
    padding: 5rem 0 5rem 0;
  }


  .information-container {
    display: flex;

    @media screen and (max-width: 1024px) {
      display: flex;
    }

    @media screen and (max-width: 768px) {
      display: grid;
    }

    @media screen and (max-width: 480px) {
      display: grid;
    }

  }

  .information-left-block {
    width: 500px;
    height: 450px;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 400px;
      height: 350px;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 350px;
    }

    @media screen and (max-width: 768px) {
      width: 400px  ;
      height: 350px;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background-size: cover;
      background-position: 0%;

      @media screen and (max-width: 1024px) {
        height: 300px;
        border-radius: 30px;
      }

      @media screen and (max-width: 768px) {
        height: 350px;
        border-radius: 30px;
      }

      @media screen and (max-width: 480px) {
        height: auto;
        border-radius: 30px;
      }

    }
  }

  .information-text-block {
    margin-left: 10rem;


    @media screen and (max-width: 1200px) {
      width: 400px;
    }

    @media screen and (max-width: 1024px) {
      margin-left: 3rem;
      margin-top: 2rem;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      margin-left: 0;
      margin-top: 2rem;
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      margin-left: 0;
      margin-top: 2rem;
      width: 100%;
    }

    &.right {
      margin-right: 10rem;
      margin-left: 0rem;

      @media screen and (max-width: 1024px) {
        margin-left: 3rem !important;
        margin-right: 0;
        order: 2;
      }

      @media screen and (max-width: 768px) {
        margin-left: 0rem !important;
        margin-right: 0;
        order: 2;
      }

      @media screen and (max-width: 480px) {
        margin-right: 0;
        order: 2;
      }
    }

    .title-linkdin {
      display: flex;
      column-gap: 8rem;
      align-items: center;

      @media screen and (max-width: 1200px) {
        column-gap: 1rem;
        align-items: flex-end;
        display: grid;
        grid-template-columns: 70% 25%;
        justify-items: start;
      }

      @media screen and (max-width: 1024px) {
        column-gap: 1rem;
        align-items: flex-end;
        display: grid;
        grid-template-columns: 60% 35%;
        justify-items: start;
      }

      @media screen and (max-width: 768px) {
        column-gap: 1rem;
        align-items: flex-end;
        display: grid;
        grid-template-columns: 60% 35%;
        justify-items: start;
      }

      @media screen and (max-width: 480px) {
        column-gap: 1rem;
        align-items: flex-end;
        display: grid;
        grid-template-columns: 60% 35%;
        justify-items: start;
      }

      h1 {
        font-family: var(--title-font);
        font-size: 4.5rem;
        color: var(--color-heading);

        @media screen and (max-width: 1200px) {
          font-size: 4.5rem;
          line-height: 5.5rem;
        }

        @media screen and (max-width: 1024px) {
          font-size: 3.3rem;
          line-height: 4rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 3.3rem;
          line-height: 4rem;
        }

        @media screen and (max-width: 480px) {
          font-size: 3.3rem;
          line-height: 4rem;
        }

      }

    }

    p {
      margin-top: 2.5rem;
      font-size: 1.4rem;
      width: 500px;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
        font-size: 1.2rem;
        margin-top: 1.5rem;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        font-size: 1.2rem;
        margin-top: 1.5rem;
      }

      @media screen and (max-width: 480px) {
        width: 100%;
        font-size: 1.2rem;
        margin-top: 1.5rem;
      }

      &.info {
        margin-top: 3rem !important;

        @media screen and (max-width: 1024px) {
          margin-top: 1.5rem !important;
        }

        @media screen and (max-width: 768px) {
          margin-top: 1.5rem !important;
        }

        @media screen and (max-width: 480px) {
          margin-top: 1.5rem !important;
        }
      }
    }
  }
}

.gijsbert_quote, .jeroen_quote {
  @media screen and (max-width: 1024px) {
    margin: 0 !important;
  }

}

.gijsbert_quote {
  @media screen and (max-width: 1024px) {
    height: 700px !important; 
  }

  @media screen and (max-width: 900px) {
    height: 750px !important; 
  }

  @media screen and (max-width: 680px) {
    height: 850px !important; 
  }

  @media screen and (max-width: 480px) {
    height: 850px !important; 
  }

}

.gijsbert_quote {
  .image_box {
    @media screen and (max-width: 1024px) {
      display: block !important;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50px;
    }

    @media screen and (max-width: 900px) {
      bottom: 50px;
    }

    @media screen and (max-width: 480px) {
      bottom: 100px;
    }
  }
}

 .jeroen_quote {
  @media screen and (max-width: 1024px) {
    height: 700px !important; 
  }

  @media screen and (max-width: 900px) {
    height: 750px !important; 
  }

  @media screen and (max-width: 680px) {
    height: 850px !important; 
  }

  @media screen and (max-width: 480px) {
    height: 800px !important; 
  }
}

.jeroen_quote {
  .image_box {
    @media screen and (max-width: 1024px) {
      display: block !important;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50px;
    }

    @media screen and (max-width: 900px) {
      bottom: 100px;
    }

    @media screen and (max-width: 768px) {
      bottom: 100px;
    }

    @media screen and (max-width: 600px) {
      bottom: 150px;
    }

    @media screen and (max-width: 480px) {
      bottom: 150px;
    }
  }
}

.jeroen_section {
  @media screen and (max-width: 1024px) {
    margin-top: 10rem;
  }
}
