<template>
    <div>

        <Navigation />
        <Nuxt />
        <Footer/>
    </div>
    
</template>

<script>
    import Header from '@/components/Header';
    import Cookiebar from '@/components/Cookiebar';
    import Footer from '@/components/Footer';
    import Navigation from "@/components/Navigation";

    export default {
        components: {
            Navigation,
            Header,
            Cookiebar,
            Footer
        },

        methods: {

        },

        mounted() {

        }

    }
</script>

