<template>
  <div>
    <div id="map"></div>

    <!---------- CONTACT SECTION ---------->
    <section class="contact__section">
      <div class="container">
        <div class="section__social">
          <h2>Social</h2>

          <a
            target="_blank"
            href="https://www.linkedin.com/company/saltatie-investments-b-v/"
            ><img
              src="/images/icons/Saltatie-iconen_LinkedIn.png"
              alt="LinkedIn" /><br
          /></a>
        </div>

        <div class="section__contact">
          <h2>Contact</h2>
          <p>
            Saltatie Investments B.V.<br />
            BIC 1, Paviljoen C7<br />
            5657 BX Eindhoven<br />
          </p>
          <p>
            <a href="mailto:gijsbertvandenbrink@saltatie.nl" target="_BLANK"
              >gijsbertvandenbrink@saltatie.nl</a
            ><br />
            +31 6 53887344
          </p>
          <p>
            <a href="mailto:jeroendebruijn@saltatie.nl" target="_blank"
              >jeroendebruijn@saltatie.nl</a
            ><br />
            +31 6 21523567
          </p>
        </div>

        <div class="section__podcasts">
          <h2>Podcasts</h2>
          <a
            target="_blank"
            href="https://open.spotify.com/show/0RGFQoj4NIKHufFPnlLSAD?si=1964a6e7007c4a8a"
            ><img
              src="/images/icons/Saltatie-iconen_Spotify.png"
              alt="Spotify" /><br
          /></a>
          <a
            target="_blank"
            href="https://podcasts.apple.com/nl/podcast/podcasts-met-entrepreneurs/id1607966558"
            ><img
              src="/images/icons/Saltatie-iconen_ApplePodcast.png"
              alt="Apple Podcast" /><br
          /></a>
          <a
            target="_blank"
            href="https://podcasts.google.com/feed/aHR0cHM6Ly9hcHAuc3ByaW5nY2FzdC5mbS9wb2RjYXN0LXhtbC8xNTM1NQ?sa=X&ved=0CA4Q27cFahcKEwj4ldOk4v71AhUAAAAAHQAAAAAQAQ"
            ><img
              src="/images/icons/Saltatie-iconen_GooglePodcast.png"
              alt="Google Podcast" /><br
          /></a>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Header from "../components/Header";
let map;

export default {
  components: {
    Header,
  },
  name: "IndexPage",
  head: {
    title: "Saltatie Investments | Contact",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "Contact page description",
      },
    ],
  },
  data() {
    return {
      top_title: "Contact",
      middle_title: "",
    };
  },
  methods: {
    initMap(contact_text) {
      var mapOptions = {
        // How zoomed in you want the map to start at (always required)
        zoom: 13,

        // The latitude and longitude to center the map (always required)

        // How you would like to style the map.
        // This is where you would paste any style found on Snazzy Maps.
        styles: [
          {
            featureType: "all",
            elementType: "labels.text.fill",
            stylers: [
              {
                color: "#675A4B",
              },
            ],
          },
          {
            featureType: "all",
            elementType: "labels.text.stroke",
            stylers: [
              {
                visibility: "off",
              },
            ],
          },
          {
            featureType: "administrative",
            elementType: "geometry",
            stylers: [
              {
                color: "#FFEBC5",
              },
              {
                lightness: "-10",
              },
            ],
          },
          {
            featureType: "administrative",
            elementType: "geometry.stroke",
            stylers: [
              {
                color: "#675A4B",
              },
            ],
          },
          {
            featureType: "administrative.country",
            elementType: "labels.text.fill",
            stylers: [
              {
                color: "#B70046",
              },
            ],
          },
          {
            featureType: "administrative.province",
            elementType: "geometry.fill",
            stylers: [
              {
                visibility: "off",
              },
            ],
          },
          {
            featureType: "administrative.province",
            elementType: "geometry.stroke",
            stylers: [
              {
                color: "#675A4B",
              },
              {
                weight: "0.50",
              },
            ],
          },
          {
            featureType: "administrative.province",
            elementType: "labels.text.fill",
            stylers: [
              {
                color: "#675A4B",
              },
            ],
          },
          {
            featureType: "administrative.locality",
            elementType: "all",
            stylers: [
              {
                visibility: "simplified",
              },
            ],
          },
          {
            featureType: "administrative.locality",
            elementType: "labels.text.fill",
            stylers: [
              {
                color: "#FF850A",
              },
            ],
          },
          {
            featureType: "administrative.neighborhood",
            elementType: "geometry",
            stylers: [
              {
                visibility: "on",
              },
            ],
          },
          {
            featureType: "administrative.neighborhood",
            elementType: "labels",
            stylers: [
              {
                visibility: "on",
              },
            ],
          },
          {
            featureType: "landscape",
            elementType: "all",
            stylers: [
              {
                color: "#F2F2F2",
              },
            ],
          },
          {
            featureType: "landscape",
            elementType: "geometry.fill",
            stylers: [
              {
                saturation: "-71",
              },
              {
                lightness: "-2",
              },
              {
                color: "#FFEBC5",
              },
            ],
          },
          {
            featureType: "poi",
            elementType: "all",
            stylers: [
              {
                visibility: "on",
              },
            ],
          },
          {
            featureType: "poi.park",
            elementType: "geometry.fill",
            stylers: [
              {
                color: "#70BFAF",
              },
            ],
          },
          {
            featureType: "road",
            elementType: "all",
            stylers: [
              {
                saturation: -100,
              },
              {
                lightness: 45,
              },
              {
                visibility: "simplified",
              },
            ],
          },
          {
            featureType: "road",
            elementType: "labels.text.stroke",
            stylers: [
              {
                visibility: "on",
              },
            ],
          },
          {
            featureType: "road.highway",
            elementType: "all",
            stylers: [
              {
                visibility: "simplified",
              },
            ],
          },
          {
            featureType: "road.highway",
            elementType: "geometry.fill",
            stylers: [
              {
                color: "#FFFFFF",
              },
            ],
          },
          {
            featureType: "road.highway",
            elementType: "geometry.stroke",
            stylers: [
              {
                color: "#675A4C",
              },
            ],
          },
          {
            featureType: "road.highway",
            elementType: "labels.text.fill",
            stylers: [
              {
                color: "#675A4B",
              },
            ],
          },
          {
            featureType: "road.arterial",
            elementType: "all",
            stylers: [
              {
                visibility: "simplified",
              },
            ],
          },
          {
            featureType: "road.arterial",
            elementType: "geometry.fill",
            stylers: [
              {
                color: "#FFFFFF",
              },
            ],
          },
          {
            featureType: "road.arterial",
            elementType: "labels.text.fill",
            stylers: [
              {
                color: "#675A4B",
              },
            ],
          },
          {
            featureType: "road.arterial",
            elementType: "labels.icon",
            stylers: [
              {
                visibility: "off",
              },
            ],
          },
          {
            featureType: "road.local",
            elementType: "all",
            stylers: [
              {
                visibility: "simplified",
              },
            ],
          },
          {
            featureType: "transit",
            elementType: "all",
            stylers: [
              {
                visibility: "off",
              },
            ],
          },
          {
            featureType: "water",
            elementType: "all",
            stylers: [
              {
                color: "#7CCFF0",
              },
              {
                visibility: "on",
              },
            ],
          },
          {
            featureType: "water",
            elementType: "geometry.fill",
            stylers: [
              {
                color: "#CFEAE4",
              },
            ],
          },
          {
            featureType: "water",
            elementType: "labels.text.fill",
            stylers: [
              {
                color: "#109579",
              },
            ],
          },
          {
            featureType: "water",
            elementType: "labels.text.stroke",
            stylers: [
              {
                visibility: "off",
              },
            ],
          },
        ],
      };

      // Get the HTML DOM element that will contain your map
      // We are using a div with id="map" seen below in the <body>
      var mapElement = document.getElementById("map");

      var address = "Brainport Industries Campus,  Eindhoven, NL";

      var map = new google.maps.Map(mapElement, mapOptions, {
        disableDefaultUI: true,
      });

      var geocoder = new google.maps.Geocoder();

      geocoder.geocode(
        {
          address: address,
        },

        function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              position: results[0].geometry.location,
              map: map,
              title: "Saltatie Investments",
            });

            if (window.location.href.indexOf("/en/contact") > -1) {
              var text =
                "Saltatie Investmensts is located at the joint Brainport Industries Campus.";
              var textAddress = "The address is:";
              var textPress = "Click here for directions:";
            } else {
              var text =
                "Saltatie Investmensts bevindt zich op de gezamelijke Brainport Industries Campus.";
              var textAddress = "Het adres is:";
              var textPress = "Klik hier voor de route beschrijving:";
            }
          }
          const contentString =
            '<div id="content">' +
            "</div>" +
            '<h1 id="firstHeading" class="firstHeading">Saltatie Investments</h1>' +
            '<div id="bodyContent">' +
            "<p>" +
            text +
            "</p> " +
            "<br>" +
            "<p>" +
            textAddress +
            "</p>" +
            "<p>BIC 1 Paviljoen C7,</p> " +
            "<p>5675 BX Eindhoven</p> " +
            "<br>" +
            "<p>" +
            textPress +
            "</p>" +
            '<p class="route"><a target="_blank" href="https://www.google.com/maps/dir//Saltatie+Investments+B.V.,+BIC+1,+5657+BX+Eindhoven/@51.4615318,5.3327776,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x2138950c3da67fe7:0x3b8c02879990f07d!2m2!1d5.4028169!2d51.4615527">Routebeschrijving</a> </p>' +
            "</div>" +
            "</div>";
          const infowindow = new google.maps.InfoWindow({
            content: contentString,
          });

          infowindow.open({
            anchor: marker,
            map,
            shouldFocus: false,
            hideCloseButton: true,
          });
        }
      );
    },
  },
  mounted() {
    this.initMap();
  },
};
</script>
