<template>
    <div>
        <Header
                :top_title="$t('')"
                :middle_title="$t('hero_title_distinctive_2')"
                :bottom_title="$t('hero_title_distinctive_3')"
                class="smaller-header"

                style="background-image: url(/images/header-images/Saltatie_Onderscheidend_Hero_1900x800px.jpg); height: 65vh; background-position: center 20%;"
        />

        <main class="main">

            <!-- SOLIDE BUSINESS SECTION -->
            <ImageBlockLeft id="solid"
                    :title_block_left="$t('Distinguishing_title_1')"
                    :paragraph_block_left="$t('Distinguishing_description_1')"
                    :backgroundUrl="characteristic1"
            />

            <!-- FINANCIAL SECTION -->
            <ImageBlockRight
                    class="financial_block"
                    :title_block_right="$t('Distinguishing_title_2')"
                    :paragraph_block_right="$t('Distinguishing_description_2')"
                    :backgroundUrl="characteristic2"
            />

            <!-- DISTINCTIVE QUOTE -->
            <ColoredImageBlockLeft class="distinctive_quote" 
                    :block-text-right="$t('distinctive_quote_1')"
                    :backgroundUrl="backgroundBlock3"
            />


            <!-- VALUE SECTION -->
            <ImageBlockLeft class="value"
                            :title_block_left="$t('Distinguishing_title_3')"
                            :paragraph_block_left="$t('Distinguishing_description_3')"
                            :backgroundUrl="characteristic3"
            />

            <Subscribe/>

        </main>
    </div>
</template>

<script>
    import Header from '../components/Header';
    import Subscribe from '../components/Subscribe';
    import ImageBlockLeft from "../components/ImageBlockLeft";
    import ImageBlockRight from "../components/ImageBlockRight";
    import ColoredImageBlockLeft from "../components/ColoredImageBlockLeft";

    import ColoredBlock3Image from '../static/images/coloredblock-images/image1.jpg'


    export default {
        components: {
            Subscribe,
            Header,
            ImageBlockRight,
            ImageBlockLeft,
            ColoredImageBlockLeft,
        },
        name: 'IndexPage',
        head: {
            title: 'Saltatie Investments | Onderscheidend kenmerk',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Onderscheidend kenmerk page description'
                },
            ],
        },
        data() {
            return {
                top_title: '',
                middle_title: 'Onderscheidend',
                bottom_title: 'kenmerk',

                characteristic1: 'Icon_Solidebusinessplan-anim',
                characteristic2: 'Icon_Financiering-anim',
                characteristic3: 'Icon_EerlijkeWaardering-anim',

                backgroundBlock3: ColoredBlock3Image,

            }
        },
        methods: {
            arrowScroll() {
                const arrow = document.getElementById("header-arrow");
                const solid = document.getElementById("solid");

                arrow.onclick = function() {
                    solid.scrollIntoView({behavior: 'smooth'});
                }
            },


        },

        mounted() {
            this.arrowScroll();
        }
    }
</script>
