<template>
  <div>
    <Header
      :top_title="$t('hero_title_focus_1')"
      :middle_title="$t('hero_title_focus_2')"
      :bottom_title="$t('')"
      class="smaller-header"
      style="
        background-image: url(/images/header-images/Saltatie_Focus_Hero_1900x800px.jpg);
        height: 65vh;
        background-position: center 40%;
      "
    />

    <main class="main">
      <!-- START UP SECTION -->
      <section class="start section" id="start">
        <div class="flex__container container">
          <div
            class="start-image"
            style="
              background-image: url(/images/focus/Saltatie_Focus_StartUp_650x600px.jpg) !important;
              background-position: center center !important;
            "
          ></div>
          <div class="start-textblock">
            <h1 class="focus-title">Start-ups:</h1>
            <p>{{ $t("focus_startup_description") }}</p>
          </div>
        </div>
      </section>

      <!-- SCALE UP SECTION -->
      <section
        class="scale section"
        id="scale-up"
        style="
          background: linear-gradient(
            180deg,
            #fff 7.1rem,
            var(--color-background-light) 7.1rem
          );
        "
      >
        <div class="flex__container container">
          <div class="scale-textblock">
            <h1 class="focus-title">Industrie 4.0</h1>
            <p v-html="$t('focus_industrie_description_1')"></p>
            <p v-html="$t('focus_industrie_description_2')"></p>
          </div>
          <div
            class="start-image"
            style="
              background-image: url(/images/focus/Saltatie_Focus_ScaleUp_650x600px.jpg) !important;
              background-size: cover !important;
              background-position: center !important;
            "
          ></div>
        </div>
      </section>

      <!-- INVESTCRITERIA SECTION -->
      <section class="start start2 section">
        <div class="flex__container container">
          <div class="start-colored-box"></div>
          <div
            class="start-image"
            style="
              background-image: url(/images/focus/Saltatie_Focus_Investeringscriteria_650x600px.jpg) !important;
              background-size: cover !important;
              background-position: center !important;
            "
          ></div>
          <div class="start-textblock">
            <h1 class="focus-title">{{ $t("focus_investment_title") }}</h1>
            <!-- <p>{{ $t('focus_invesmtent_description') }}</p> -->

            <ol>
              <li>{{ $t("focus_invesmtent_description_li_1") }}</li>
              <br />
              <li>{{ $t("focus_invesmtent_description_li_2") }}</li>
              <br />
              <li>{{ $t("focus_invesmtent_description_li_3") }}</li>
            </ol>
          </div>
        </div>
      </section>

      <!-- HIGH / DEEP TECH SECTION -->
      <section class="highdeep section" id="high-deep">
        <div class="flex__container container">
          <div class="highdeep-textblock">
            <h1 class="focus-title">
              High tech & <br />
              Deep tech business
            </h1>
            <p>{{ $t("focus_highdeeptech_description") }}</p>
            <ul>
              <li>Advanced materials;</li>
              <li>AI & data;</li>
              <li>AI & machine learning;</li>
              <li>Augemented & virtual reality</li>
              <li>Computer vision;</li>
              <li>Connected device & sensor technology;</li>
              <li>Drone technology;</li>
              <li>IoT;</li>
              <li>Nanotech technology;</li>
              <li>Photonics;</li>
              <li>Recognition technology;</li>
              <li>Robotics;</li>
            </ul>
          </div>
          <div
            class="start-image"
            style="
              background-image: url(/images/focus/Saltatie_Focus_Business_650x600px.jpg) !important;
              background-size: cover !important;
              background-position: center !important;
            "
          ></div>
        </div>
      </section>

      <!-- SUBSCRIBE -->
      <Subscribe />
    </main>
  </div>
</template>

<script>
import Header from "../components/Header";
import Subscribe from "../components/Subscribe";
import ImageBlockLeft from "../components/ImageBlockLeft";
import ImageBlockRight from "../components/ImageBlockRight";

/* ASSETS */

export default {
  components: {
    ImageBlockRight,
    ImageBlockLeft,
    Subscribe,
    Header,
  },

  name: "IndexPage",
  head: {
    title: "Saltatie Investments | Focus & Investeringscriteria",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "Focus page description",
      },
    ],
  },
  data() {
    return {
      top_title: "Focus & ",
      middle_title: "Investeringscriteria",
      bottom_title: "",
    };
  },
  methods: {
    scrollRevealFocus() {
      const sr = ScrollReveal({
        distance: "60px",
        duration: 2800,
        // reset: true,
      });
    },
    arrowScroll() {
      const arrow = document.getElementById("header-arrow");
      const start = document.getElementById("start");

      arrow.onclick = function () {
        start.scrollIntoView({ behavior: "smooth" });
      };
    },
  },

  mounted() {
    this.arrowScroll();
  },
};
</script>
