<template>
    <div>

        <Header
                :top_title="$t('hero_title_home_1')"
                :middle_title="$t('hero_title_home_2')"
                :bottom_title="$t('hero_title_home_3')"
                :indexPage="indexPage"
                class="index-header"

                style="background-image: url(/images/header-images/Saltatie_Homepage_Hero_1900x1200px.jpg);"
        />
        <main class="main">
            <!---------- ABOUT ---------->
            <section class="about section" id="about">
                <div class="about__container container grid">
                    <div class="about__block__left">
                        <h1>{{ $t('home_who_1') }}</h1>

                    </div>

                    <div class="about__data">
                        <h2 class="section__title about__title">Gijsbert van den Brink <br> & Jeroen De Bruijn</h2> 
                        <p class="about__description">{{ $t('home_who_description') }}</p>

                        <div class="read-more-linkdin">
                            <div class="button-block">
                                <nuxt-link :to="localePath(link3)">{{ $t('read_more_button') }}</nuxt-link>
                            </div>
                            <div class="linkdin-block">
                                <a target="_blank" href="https://www.linkedin.com/company/saltatie-investments-b-v/"><font-awesome-icon :icon="['fab', 'linkedin-in']"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-ball">
                    <hr class="line">
                    <div class="ball"></div>
                </div>
            </section>

            <!---------- US SECTION ---------->
            <ColoredImageBlockLeft
                    class="home_quote_1"
                    :block-text-right="$t('home_quote_1')"
                    :backgroundUrl="backgroundBlock1"
            />

            <!---------- FOCUS SECTION ---------->
            <section class="focus section" id="focus">
                <h1 class="section__title">{{ $t('home_focus_title') }}</h1>
                <div class="flex-container container">
                    <div class="section__text">
                        <h2>Start-ups</h2>
                        <p> {{ $t('home_start_scale') }} <br/>
                            <br/>
                        <ol>
                            <li>{{ $t('home_start_scale_li_1') }}
                            </li>
                            <br/>
                            <li>{{ $t('home_start_scale_li_2') }}
                            </li>
                            <br />
                            <li>{{ $t('home_start_scale_li_3') }}
                            </li>
                        </ol>
                        </p>
                        <div class="button-block">
                            <nuxt-link :to="localePath(link2)">{{ $t('read_more_button') }}</nuxt-link>
                        </div>
                    </div>
                    <div class="image__right">
                        <img src="/images/Saltatie_Homepage_Focus_650x600px.jpg" alt="Focus image">
                    </div>
                    <div class="line-ball_startscale">
                        <hr class="line">
                        <div class="ball"></div>
                    </div>
                </div>
            </section>


            <!---------- WE ARE ENTREPRENEURS SECTION     ---------->
            <ColoredImageBlockRight
                    class="we_are"
                    :block-text-left="$t('home_quote_2')"
                    :backgroundUrl="backgroundBlock2"
            />

            <!---------- WHAT MAKES US UNIQUE ---------->
            <section class="discover section" id="discover">
                <h2 class="section__title">{{ $t('home_unique_title') }}</h2>

                <div class="discover__container container swiper-container">
                    <div class="swiper-wrapper"> 
                        <!---------- DISCOVER 1 ---------->
                        <div class="discover__card swiper-slide" id="card1">
                            <nuxt-link :to="localePath(link1)">
                                <div class="discover__data">
                                    <div class="icon__box">
                                        <img src="/images/icons/Asset7.png" alt=""
                                             class="icon_image" id="image_one"/>
                                    </div>
                                    <h2 class="discover__title">{{ $t('home_unique_card_1_title') }}</h2>
                                    <h2 class="discover__title_extra">{{ $t('home_unique_card_1_title_2') }}</h2>
                                    <span class="discover__description">{{ $t('home_unique_card_1_description') }}</span>
                                </div>
                            </nuxt-link>
                        </div>

                        <!---------- DISCOVER 2 ---------->
                        <div class="discover__card swiper-slide" id="card2">
                            <nuxt-link :to="localePath(link1)">
                                <div class="discover__data">
                                    <div class="icon__box">
                                        <img src="/images/icons/Asset8.png" alt=""
                                             class="icon_image"
                                             id="image_two"/>
                                    </div>
                                    <h2 class="discover__title">{{ $t('home_unique_card_2_title') }}</h2>
                                    <span class="discover__description">{{ $t('home_unique_card_2_description') }}</span>
                                </div>
                            </nuxt-link>
                        </div>

                        <!---------- DISCOVER 4 ---------->
                        <div class="discover__card swiper-slide" id="card3">
                            <nuxt-link :to="localePath(link1)">
                                <div class="discover__data">
                                    <div class="icon__box">
                                        <img src="/images/icons/Asset6.png" alt=""
                                             class="icon_image"
                                             id="image_three"/>
                                    </div>
                                    <h2 class="discover__title">{{ $t('home_unique_card_3_title') }}</h2>
                                    <h2 class="discover__title_extra">{{ $t('home_unique_card_3_title_2') }}</h2>
                                    <span class="discover__description">{{ $t('home_unique_card_3_description') }}</span>
                                </div>
                            </nuxt-link>
                        </div>
                    </div>
                    <div class="button-block-prev">
                        <div class="swiper-button-prev swiper-button-black"></div>
                    </div>
                    <div class="button-block-next">
                        <div class="swiper-button-next swiper-button-black"></div>
                    </div>
                </div>
                <div class="swiper-block swiper-pagination"></div>

                <div class="button-gradient">
                    <nuxt-link :to="localePath(link1)">
                        <button type="button" class="btn">{{ $t('read_more_button') }}</button>
                    </nuxt-link>
                </div>
            </section>

            <!---------- US SECTION ---------->
            <ColoredImageBlockLeft
                    :block-text-right="$t('home_quote_3')"
                    :backgroundUrl="backgroundBlock3"
            />

            <!---------- PODCAST SECTION ---------->
            <section class="podcasts section" id="podcasts">
                <div class="podcasts__container container">
                    <div class="podcasts__data">
                        <div class="podcasts_block_right">
                            <h1>{{ $t('home_podcast_title')}}</h1>
                        </div>
                    </div>
                </div>
                <div class="line-ball">
                    <hr class="line">
                    <div class="ball"></div>
                </div>
                <div class="podcasts__wrapper swiper-container">
                    <div class="swiper-wrapper">
                        <div class="podcasts__card swiper-slide" id="podcast1">
                            <div class="video__content">
                            <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="tu-f9QJ-mqU" 
                                    data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast1_Cover_v1B.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>
                        <div class="podcasts__card swiper-slide" id="podcast2">
                            <div class="video__content">
                              <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="DNvEqqDgT7I" 
                                    data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast2_Cover_v1B.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>
                        <div class="podcasts__card swiper-slide" id="podcast3">
                            <div class="video__content">
                             <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="TbXnp1aSqpk" 
                                    data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast3_Cover_v1B.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>
                        <div class="podcasts__card swiper-slide" id="podcast4">
                            <div class="video__content">
                             <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="a1p6RSTUmlI" 
                                    data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast4_Cover_v1B.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>

                        <div class="podcasts__card swiper-slide" id="podcast5">
                            <div class="video__content">
                             <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="4lVPpvm-b5k" 
                                    data-thumbnail="/images/podcasts-thumbs/Podcast_5.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>

                        <div class="podcasts__card swiper-slide" id="podcast6">
                            <div class="video__content">
                             <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="1antJoB9Nhw" 
                                    data-thumbnail="/images/podcasts-thumbs/Podcast_6.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>
                     
                        <div class="podcasts__card swiper-slide" id="podcast7">
                            <div class="video__content">
                             <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="UNvCZyJOCkQ" 
                                    data-thumbnail="/images/podcasts-thumbs/Podcast_7.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>
                     

                        <div class="podcasts__card swiper-slide" id="podcast8">
                            <div class="video__content">
                             <div class="youtube-container home-videos">
                                <div class="youtube-player" 
                                    data-id="9YgBUQViQ0U" 
                                    data-thumbnail="/images/podcasts-thumbs/Podcast_8.jpg">
                                 </div>
                            </div>

                            </div>
                        </div>
                     

                    </div>
                    <div class="swiper-button-container">
                        <div class="button-block-prev podcasts">
                            <div class="swiper-button-prev swiper-button-black"></div>
                        </div>
                        <div class="button-block-next podcasts">
                            <div class="swiper-button-next swiper-button-black"></div>
                        </div>
                    </div>
                </div>
                <div class="listen-also">
                    <h2>{{ $t('home_podcast_listen_to')}}</h2>
                    <a target="_blank" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hcHAuc3ByaW5nY2FzdC5mbS9wb2RjYXN0LXhtbC8xNTM1NQ?sa=X&ved=0CA4Q27cFahcKEwj4ldOk4v71AhUAAAAAHQAAAAAQAQ"><img src="/images/icons/Saltatie-iconen_GooglePodcast.png"
                         class="podcasts-icon"/></a>
                    <a target="_blank" href="https://open.spotify.com/show/0RGFQoj4NIKHufFPnlLSAD?si=1964a6e7007c4a8a"><img src="/images/icons/Saltatie-iconen_Spotify.png"
                         class="podcasts-icon"/></a>
                    <a target="_blank" href="https://podcasts.apple.com/nl/podcast/podcasts-met-entrepreneurs/id1607966558"><img src="/images/icons/Saltatie-iconen_ApplePodcast.png"
                         class="podcasts-icon"/></a>
                </div>

                <div class="more-podcast">
                    <div class="button-block header-button podcasts-button">
                        <nuxt-link :to="localePath('/podcasts')">{{ $t('read_more_button_podcast') }}</nuxt-link>
                    </div>
                </div>

            </section> 

            <!---------- SUBSCRIBE SECTION ---------->
            <Subscribe/>


        </main>
    </div>
</template>

<script>
    import Header from '@/components/Header'
    import ColoredImageBlockLeft from "../components/ColoredImageBlockLeft";
    import ColoredImageBlockRight from "../components/ColoredImageBlockRight";
    import Subscribe from "../components/Subscribe";


    /* Assets import */
    import ColoredBlock1Image from '../static/images/coloredblock-images/image1.jpg'
    import ColoredBlock2Image from '../static/images/coloredblock-images/image2.jpg'
    import ColoredBlock3Image from '../static/images/pexels-rfstudio-3825584.jpg'

    export default {
        components: {
            Subscribe,
            ColoredImageBlockRight,
            ColoredImageBlockLeft,
            Header,
        },
        loading: true,
        name: 'IndexPage',
        head: {
            title: 'Saltatie Investments | Home',
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'Home page description'
                },
            ],
            scripts: [

            ]
        },
        methods: {
            arrowScroll() {
                const arrow = document.getElementById("header-arrow");
                const about = document.getElementById("about");

                arrow.onclick = function () {
                    about.scrollIntoView({behavior: 'smooth'});
                }
            },

            indexSwipers() {
                var swiper = new Swiper(".discover__container", {
                    effect: "coverflow",
                    centeredSlides: true,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    slidesPerView: "auto",
                    allowSlideNext: true,
                    loop: true,
                    spaceBetween: 32,
                    speed: 800,
                    pagination: {
                        el: '.swiper-pagination',
                        dynamicBullets: false,
                    },
                    coverflowEffect: {
                        scale: 0.85,
                        rotate: 0,
                    }
                });
                var swiper2 = new Swiper(".podcasts__wrapper", {
                    effect: "coverflow",
                    centeredSlides: true,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    slidesPerView: "auto",
                    allowSlideNext: true,
                    loop: true,
                    spaceBetween: 32,
                    speed: 800,
                    coverflowEffect: {
                        scale: 0.85,
                        rotate: 0,
                    }
                });
            },
            scrollReveal() {
                const sr = ScrollReveal({
                    distance: '60px',
                    duration: 2800,
                    // reset: true,
                })

                sr.reveal(`.about__block__left, .about__block__right`, {
                    origin: `bottom`,
                    delay: 400,
                    distance: '25px',
                })


                sr.reveal(`.about__block__right, .entrepreneur__data`, {
                    origin: `bottom`,
                    delay: 400,
                    distance: '25px',
                })


                sr.reveal(`.image_box`, {
                    origin: `left`,
                    distance: '100px'
                })


                sr.reveal(`.home__data, .home__social-link, .home__info,
           .discover__container,
           .experience__data, .experience__overlay,
           .place__card,
           .sponsor__content,
           `, {
                    origin: 'top',
                    interval: 100,
                })

                sr.reveal(`.about__data`, {
                    origin: 'right',
                    delay: 400,
                })

                sr.reveal(`.line-ball_modder`, {
                    origin: 'right',
                    delay: 600,
                    distance: '800px'
                })

                sr.reveal(`.line-ball, .line-ball_entrepreneur`, {
                    origin: 'left',
                    delay: 10,
                    distance: '800px'
                })
                sr.reveal(`.line-ball_startscale`, {
                    origin: 'left',
                    delay: 10,
                    distance: '400px'
                })
            },
            getVideos() {
                var v = document.getElementsByClassName("youtube-player");
                for (var n = 0; n < v.length; n++) {
                    var p = document.createElement("div");
                    var id = v[n].getAttribute("data-id");

                    var placeholder = v[n].hasAttribute("data-thumbnail")
                        ? v[n].getAttribute("data-thumbnail")
                        : "";

                    if (placeholder.length) p.innerHTML = createCustomThumbail(placeholder);
                    else p.innerHTML = createThumbail(id);

                    v[n].appendChild(p);
                    p.addEventListener("click", function () {
                        var parent = this.parentNode;
                        createIframe(parent, parent.getAttribute("data-id"));
                });
            }
        },

        /**
         * Create custom thumbnail from data-attribute provided url
         * @param {string} url
         * @return {string} The HTML containing the <img> tag
         */
        createCustomThumbail(url) {
            return (
                '<img class="youtube-thumbnail" src="' +
                url +
                '" alt="Youtube Preview" /><div class="youtube-play-btn"></div>'
            );
        },

        /**
         * Get Youtube default max resolution thumbnail
         * @param {string} id The Youtube video id
         * @return {string} The HTML containing the <img> tag
         */
        createThumbail(id) {
            return (
                '<img class="youtube-thumbnail" src="//i.ytimg.com/vi_webp/' +
                id +
                '/maxresdefault.webp" alt="Youtube Preview"><div class="youtube-play-btn"></div>'
            );
        },

        /**
         * Create and load iframe in Youtube container
         **/
        createIframe(v, id) {
            var iframe = document.createElement("iframe");
            console.log(v);
            iframe.setAttribute(
                "src",
                "//www.youtube.com/embed/" +
                    id +
                    "?autoplay=1&color=white&autohide=2&modestbranding=1&border=0&wmode=opaque&enablejsapi=1&showinfo=0&rel=0"
            );
            iframe.setAttribute("frameborder", "0");
            iframe.setAttribute("class", "youtube-iframe");
            // v.firstChild.replaceWith(iframe);
        },

        modalVideos() {

        /** Pause video on modal close **/
        $("#video-modal").on("hidden.bs.modal", function (e) {
            $(this).find("iframe").remove();
        });

        /** Pause video on modal close **/
        $("#video-modal").on("show.bs.modal", function (e) {
            getVideos();
        });
        },
        },
        mounted() {
            this.indexSwipers();
            this.scrollReveal();
            this.arrowScroll();

            this.getVideos();
            this.createCustomThumbail();
            this.createThumbail();
            this.createIframe();
            this.modalVideos();
        },
        data() {
            return {
                backgroundBlock1: ColoredBlock1Image,
                backgroundBlock2: ColoredBlock2Image,
                backgroundBlock3: ColoredBlock3Image,
                indexPage: 'true',
                link1: "/distinctive",
                link2: "/focus",
                link3: "/who",



            }
        },
    }
</script>

