<template>
  <div>
    <Header
      :top_title="$t('hero_title_podcasts_1')"
      :middle_title="$t('hero_title_podcasts_2')"
      :bottom_title="$t('hero_title_podcasts_3')"
      class="smaller-header"
      style="
        background-image: url(/images/header-images/Saltatie_Podcasts_Hero_1900x800px.jpg);
      "
    />

    <!-- INFO SECTION -->
    <section class="podcast-info section" id="podcast-info">
      <div class="podcast__container container">
        <p>
          {{ $t("podcasts_description_para_1") }}
          <br />
          <br />
          {{ $t("podcasts_description_para_2") }}
          <br />
          <br />
          {{ $t("podcasts_description_para_3") }}
        </p>
      </div>
    </section>

    <!-- PODCASTS SECTION -->
    <section class="section podcast-videos-section">
      <div class="container">
        <h1 class="podcast-video-title">{{ $t("podcasts_video_title") }}</h1>
        <div
          style="
            --swiper-navigation-color: #fff;
            --swiper-pagination-color: #fff;
          "
          class="swiper gallery-top mySwiper2Podcast"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="tu-f9QJ-mqU"
                  data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast1_Cover_v1B.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  Podcast met Thomas Steffens, de CEO die een music platform aan
                  Apple Music verkocht.
                </h1>
                <span class="podcast-subtitle"
                  >Een interview met Thomas Steffens, co-founder van
                  Primephonic, een muziekplatform voor klassieke muziek. Door
                  een hele specifieke focus en niche benadering uiteindelijk
                  succesvol verkocht aan een grote strategische partij. Thomas
                  heeft een paar mooie “lessons learnt” voor startende
                  ondernemers.
                </span>
              </div>
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="DNvEqqDgT7I"
                  data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast2_Cover_v1B.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  Podcast met Hans Streng, serial entrepreneur in High Tech.
                </h1>
                <span class="podcast-subtitle"
                  >Hans is een serial entrepreneur en gaat in op de vele
                  baanbrekende projecten die hij onder zijn leiding heeft
                  uitgevoerd. Hij geeft hierbij inzicht in een hoop “do’s and
                  dont’s” voor de startende ondernemer.
                </span>
              </div>
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="TbXnp1aSqpk"
                  data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast3_Cover_v1B.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  Podcast met Menno Thijsen, innovaties in EdTech voor hoger
                  onderwijs nemen een vlucht.
                </h1>
                <span class="podcast-subtitle"
                  >Een gesprek met Menno Thijsen, mede-oprichter van Edumundo,
                  een educatieve uitgeverij voor het hoger en beroepsonderwijs.
                  Ze zetten innovatieve tools in, zoals gaming en gamification
                  om uiteindelijk een hoger leerrendement te realiseren bij
                  studenten. EdTech is hot!</span
                >
              </div>
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="a1p6RSTUmlI"
                  data-thumbnail="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast4_Cover_v1B.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  In deze podcast ontdek je hoe Wilbert de Veer tijdens
                  lockdowns slechts 5% omzet zag terug lopen van zijn
                  fitnessonderneming.
                </h1>
                <span class="podcast-subtitle"
                  >Wilbert de Veer heeft een fitnessonderneming. Hij opende zijn
                  2de vestiging in maart 2020, de maand waarin Nederland in
                  lockdown ging vanwege Corona. Ook zijn net geopende 2de
                  locatie moest hij meteen sluiten. Desalniettemin is zijn omzet
                  tijdens heel veel maanden lockdown slechts met 5%
                  teruggelopen. Dat is echt ondernemerschap, creatief inspelen
                  op drastisch nieuwe omstandigheden! Luister naar het verhaal
                  van deze ras ondernemer.</span
                >
              </div>
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="4lVPpvm-b5k"
                  data-thumbnail="/images/podcasts-thumbs/Podcast_5.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  In deze podcast hoor je van Ernie Hiemstra, succesvol
                  ondernemer, hoe hij belangrijke lessen verkreeg van zijn
                  tegenslagen.
                </h1>
                <span class="podcast-subtitle"
                  >Ernie Hiemstra is een succesvolle serial entrepreneur die
                  vele ondernemingen heeft opgericht, verkocht en nu ook als
                  investeerder actief is in een aantal deelnemingen. Zijn succes
                  ging niet altijd over rozen en hij vertelt ook over zijn
                  zeperds met de daarbij horende belangrijke lessen.
                </span>
              </div>
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="1antJoB9Nhw"
                  data-thumbnail="/images/podcasts-thumbs/Podcast_6.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  In deze podcast Cor Datema en Joost van de Griendt van
                  Dynaxion over hun revolutionaire tech voor koffer- en
                  pakketcontrole.
                </h1>
                <span
                  class="podcast-subtitle"
                  style="font-size: 1rem !important"
                  >Het controleren van koffers en pakjes die tussen landen
                  worden verscheept, is een grote uitdaging op het gebied van
                  veiligheid. Momenteel worden röntgenscanners en CT-scanners
                  gebruikt om de inhoud van koffers en pakjes te controleren. De
                  röntgenscanners kunnen echter alleen de vorm van de inhoud op
                  een display weergeven. De CT-scanners kunnen beperkte
                  dichtheidsindicaties geven, maar niet de samenstelling van
                  stoffen. Dit leidt tot veel vals alarm en tijdrovende analyses
                  door beveiligingspersoneel. Dynaxion heeft een nieuwe
                  technologie ontwikkeld die niet alleen de vorm van de inhoud
                  van een koffer/pakket toont, maar ook aangeeft wat de inhoud
                  is. Het kan bijvoorbeeld aangeven of een wit poeder suiker,
                  zout, cocaïne of iets anders is. Dit kan gebeuren zonder de
                  koffer of het potje open te hoeven maken en zonder de inzet
                  van dure beveiligers. Hun scanmethode leidt tot veel minder
                  foute interpretaties. Kortom een revolutionaire technologie
                  die ons leven een stuk veiliger zal maken!</span
                >
              </div>
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="UNvCZyJOCkQ"
                  data-thumbnail="/images/podcasts-thumbs/Podcast_7.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  In de zevende podcast van de serie 'podcasts met
                  entrepreneurs', zitten Gijsbert van den Brink en Jeroen de
                  Bruijn van Saltatie Investments om de tafel met Ferdinand
                  Grapperhaus van PHYSEE.
                </h1>
                <span
                  class="podcast-subtitle"
                  style="font-size: 1rem !important"
                ></span>
              </div>
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <div class="youtube-container">
                <div
                  class="youtube-player"
                  data-id="9YgBUQViQ0U"
                  data-thumbnail="/images/podcasts-thumbs/Podcast_8.jpg"
                ></div>
              </div>
              <div class="podcast-text-block">
                <h1 class="podcast-title">
                  In de achtste podcast van de serie 'podcasts met
                  entrepreneurs', zitten Gijsbert van den Brink en Jeroen de
                  Bruijn van Saltatie Investments om de tafel met Edwin Netjes.
                </h1>
                <span
                  class="podcast-subtitle"
                  style="font-size: 1rem !important"
                ></span>
              </div>
            </div>

            <!-- <div class="swiper-slide podcast-swiper-slide">
                         <iframe width="760px" height="400" src="https://www.youtube.com/embed/LdnUJpmUyX8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            <div class="podcast-text-block">
                                <h1 class="podcast-title">Podcast onderwerpregel</h1>
                                <span class="podcast-subtitle">Wij zijn daarom een serie van podcasts gestart met ondernemers waarbij al die facetten aan de orde
                                                                komen. Het is uiterst boeiend en leerzaam om te zien hoe verchillende ondernemers met de genoemde
                                                                facetten zijn omgegaan.
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide podcast-swiper-slide">
                          <iframe width="760px" height="400" src="https://www.youtube.com/embed/LdnUJpmUyX8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            <div class="podcast-text-block">
                                <h1 class="podcast-title">Podcast onderwerpregel</h1>
                                <span class="podcast-subtitle">Wij zijn daarom een serie van podcasts gestart met ondernemers waarbij al die facetten aan de orde
                                                                komen. Het is uiterst boeiend en leerzaam om te zien hoe verchillende ondernemers met de genoemde
                                                                facetten zijn omgegaan.
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide podcast-swiper-slide">
                            <iframe width="760px" height="400" src="https://www.youtube.com/embed/LdnUJpmUyX8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            <div class="podcast-text-block">
                                <h1 class="podcast-title">Podcast onderwerpregel</h1>
                                <span class="podcast-subtitle">Wij zijn daarom een serie van podcasts gestart met ondernemers waarbij al die facetten aan de orde
                                                                komen. Het is uiterst boeiend en leerzaam om te zien hoe verchillende ondernemers met de genoemde
                                                                facetten zijn omgegaan.
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide podcast-swiper-slide">
                           <iframe width="760px" height="400" src="https://www.youtube.com/embed/LdnUJpmUyX8"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            <div class="podcast-text-block">
                                <h1 class="podcast-title">Podcast onderwerpregel</h1>
                                <span class="podcast-subtitle">Wij zijn daarom een serie van podcasts gestart met ondernemers waarbij al die facetten aan de orde
                                                                komen. Het is uiterst boeiend en leerzaam om te zien hoe verchillende ondernemers met de genoemde
                                                                facetten zijn omgegaan.
                                </span>
                            </div>
                        </div> -->
          </div>
        </div>
        <div thumbsSlider="" class="swiper gallery-thumbs mySwiperThumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide podcast-swiper-slide">
              <img
                src="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast1_Cover_v1B.jpg"
              />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <!-- <p class="soon">Binnenkort beschikbaar</p> -->
              <img
                src="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast2_Cover_v1B.jpg"
              />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <!-- <p class="soon">Binnenkort beschikbaar</p> -->
              <img
                src="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast3_Cover_v1B.jpg"
              />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <!-- <p class="soon">Binnenkort beschikbaar</p> -->
              <img
                src="/images/podcasts-thumbs/21862_Saltatie_Youtube_Podcast4_Cover_v1B.jpg"
              />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <!-- <p class="soon">Binnenkort beschikbaar</p> -->
              <img src="/images/podcasts-thumbs/Podcast_5.jpg" />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <!-- <p class="soon">Binnenkort beschikbaar</p> -->
              <img src="/images/podcasts-thumbs/Podcast_6.jpg" />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <!-- <p class="soon">Binnenkort beschikbaar</p> -->
              <img src="/images/podcasts-thumbs/Podcast_7.jpg" />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <!-- <p class="soon">Binnenkort beschikbaar</p> -->
              <img src="/images/podcasts-thumbs/Podcast_8.jpg" />
            </div>
            <div class="swiper-slide podcast-swiper-slide">
              <p class="soon">Binnenkort beschikbaar</p>
              <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
            </div>
          </div>

          <div class="swiper-podcast-buttons">
            <div class="swiper-button-next podcasts-swiper-next"></div>
            <div class="swiper-button-prev podcasts-swiper-prev"></div>
          </div>
        </div>
        <div class="swiper-podcast-buttons-mobile">
          <div class="swiper-button-next podcasts-swiper-next-mobile"></div>
          <div class="swiper-button-prev podcasts-swiper-prev-mobile"></div>
        </div>
      </div>
    </section>

    <h1 class="podcast-road-title">{{ $t("podcasts_travel_title") }}</h1>

    <!-- PODCASTS SECTION -->
    <section class="section podcast-programs">
      <div class="container">
        <podcastTabs />
      </div>
    </section>

    <Subscribe />
  </div>
</template>

<script>
import Header from "../components/Header";
import Subscribe from "../components/Subscribe";
import podcastTabs from "../components/podcastTabs";

export default {
  components: {
    Header,
    Subscribe,
    podcastTabs,
  },
  name: "IndexPage",
  head: {
    title: "Saltatie Investments | Podcasts",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "Podcasts page description",
      },
    ],
  },
  data() {
    return {
      videoId: this.$youtube.getIdFromURL(
        "https://www.youtube.com/embed/LdnUJpmUyX8"
      ),
    };
  },
  methods: {
    getVideos() {
      var v = document.getElementsByClassName("youtube-player");
      for (var n = 0; n < v.length; n++) {
        var p = document.createElement("div");
        var id = v[n].getAttribute("data-id");

        var placeholder = v[n].hasAttribute("data-thumbnail")
          ? v[n].getAttribute("data-thumbnail")
          : "";

        if (placeholder.length) p.innerHTML = createCustomThumbail(placeholder);
        else p.innerHTML = createThumbail(id);

        v[n].appendChild(p);
        p.addEventListener("click", function () {
          var parent = this.parentNode;
          createIframe(parent, parent.getAttribute("data-id"));
        });
      }
    },

    /**
     * Create custom thumbnail from data-attribute provided url
     * @param {string} url
     * @return {string} The HTML containing the <img> tag
     */
    createCustomThumbail(url) {
      return (
        '<img class="youtube-thumbnail" src="' +
        url +
        '" alt="Youtube Preview" /><div class="youtube-play-btn"></div>'
      );
    },

    /**
     * Get Youtube default max resolution thumbnail
     * @param {string} id The Youtube video id
     * @return {string} The HTML containing the <img> tag
     */
    createThumbail(id) {
      return (
        '<img class="youtube-thumbnail" src="//i.ytimg.com/vi_webp/' +
        id +
        '/maxresdefault.webp" alt="Youtube Preview"><div class="youtube-play-btn"></div>'
      );
    },

    /**
     * Create and load iframe in Youtube container
     **/
    createIframe(v, id) {
      var iframe = document.createElement("iframe");
      console.log(v);
      iframe.setAttribute(
        "src",
        "//www.youtube.com/embed/" +
          id +
          "?autoplay=1&color=white&autohide=2&modestbranding=1&border=0&wmode=opaque&enablejsapi=1&showinfo=0&rel=0"
      );
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("class", "youtube-iframe");
      // v.firstChild.replaceWith(iframe);
    },

    modalVideos() {
      /** Pause video on modal close **/
      $("#video-modal").on("hidden.bs.modal", function (e) {
        $(this).find("iframe").remove();
      });

      /** Pause video on modal close **/
      $("#video-modal").on("show.bs.modal", function (e) {
        getVideos();
      });
    },

    arrowScroll() {
      const arrow = document.getElementById("header-arrow");
      const info = document.getElementById("podcast-info");

      arrow.onclick = function () {
        info.scrollIntoView({ behavior: "smooth" });
      };
    },
    swipers() {
      /*SWIPER PODCAST PAGE */
      var galleryThumbs = new Swiper(".gallery-thumbs", {
        spaceBetween: 10,
        slidesPerView: 3,
        loop: true,
        freeMode: false,
        simulateTouch: false,
        loopedSlides: 10, //looped slides should be the same
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
      });
      var galleryTop = new Swiper(".gallery-top", {
        spaceBetween: 10,
        loop: true,
        simulateTouch: false,
        loopedSlides: 10, //looped slides should be the same
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: galleryThumbs,
        },
      });
    },
  },

  mounted() {
    this.swipers();
    this.arrowScroll();

    this.getVideos();
    this.createCustomThumbail();
    this.createThumbail();
    this.createIframe();
    this.modalVideos();
  },
};
</script>

<style>
.swiper {
  width: 100%;
  height: 100%;
}

.podcast-swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

@media screen and (max-width: 1024px) {
  .podcast-swiper-slide {
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
  }
}

.podcast-swiper-slide .youtube-player {
  width: auto;
  height: auto;
}

.podcast-swiper-slide iframe {
  border-radius: 30px;
}

@media screen and (max-width: 1200px) {
  .podcast-swiper-slide iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .podcast-swiper-slide iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .podcast-swiper-slide iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .podcast-swiper-slide iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .podcast-swiper-slide iframe {
    width: 100%;
    height: 100%;
  }
}

.podcast-swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}

/* @media screen and (max-width: 900px) {
        .podcast-swiper-slide img {
            height: 350px !important;
            width: 650px !important;
        }
    }

    @media screen and (max-width: 768px) {
        .podcast-swiper-slide img {
            width: 100% !important;
            height: 100% !important;
        }
    }

        @media screen and (max-width: 600px) {
        .podcast-swiper-slide img {
            width: 100% !important;
            height: 100% !important;
        }
    }

    @media screen and (max-width: 480px) {
        .podcast-swiper-slide img {
            width: 100% !important;
            height: 100% !important;
        }
    } */

.swiper {
  width: 100%;
  height: 300px;
}

.podcast-swiper-slide {
  background-size: cover;
  background-position: center;
  gap: 10rem;
}

@media screen and (max-width: 1200px) {
  .podcast-swiper-slide {
    gap: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .podcast-swiper-slide {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    gap: 0;
  }
}

.podcast-text-block {
  display: block;
  width: 400px;
}

@media screen and (max-width: 1024px) {
  .podcast-text-block {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .podcast-text-block {
    margin-left: 2rem;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .podcast-text-block {
    width: 90%;
  }
}

.podcast-title {
  font-family: var(--title-font);
  font-size: 2rem;
  text-align: left;
  line-height: 3rem;
}

@media screen and (max-width: 1200px) {
  .podcast-title {
    line-height: 3rem;
    font-size: 2rem;
  }
}

.podcast-subtitle {
  float: right;
  text-align: left;
  font-size: 1.3rem;
  margin-top: 3rem;
}

.mySwiper2Podcast {
  height: 450px;
  width: 1100px;
  overflow: hidden;
  border-radius: 30px;
}

@media screen and (max-width: 1200px) {
  .mySwiper2Podcast {
    width: 900px;
    height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .mySwiper2Podcast {
    width: 800px;
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .mySwiper2Podcast {
    height: 800px;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .mySwiper2Podcast {
    height: 650px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .mySwiper2Podcast {
    height: 725px;
    width: 100%;
  }
}

.mySwiperThumbs {
  box-sizing: border-box;
  padding: 10px 0;
  overflow: hidden;
  height: 200px;
  width: 670px;
}

@media screen and (max-width: 1200px) {
  .mySwiperThumbs {
    width: 575px;
  }
}

@media screen and (max-width: 1000px) {
  .mySwiperThumbs {
    width: 480px;
    margin-top: -50px;
  }
}

@media screen and (max-width: 900px) {
  .mySwiperThumbs {
    display: none;
  }
}

.soon {
  position: absolute;
  width: 100px;
  color: #fff;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: var(--font-bold);
}

.mySwiperThumbs .swiper-slide {
  width: 50%;
  height: 70%;
  margin-top: 2rem;
}

@media screen and (max-width: 1200px) {
  .mySwiperThumbs .swiper-slide {
    height: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .mySwiperThumbs .swiper-slide {
    height: 50%;
  }
}

.mySwiperThumbs .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.mySwiperThumbs .swiper-slide-thumb-active::before {
  background-color: transparent;
}

.podcast-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-top: auto;
}

.swiper-podcast-buttons {
  position: absolute;
  bottom: 130px;
  width: 670px;
}

@media screen and (max-width: 1200px) {
  .swiper-podcast-buttons {
    width: 575px;
    bottom: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .swiper-podcast-buttons {
    width: 480px;
    bottom: 205px;
  }
}

.podcasts-swiper-next {
  color: #000;
  padding: 2rem 2.1rem;
  background-color: #fff;
  border-radius: 100px;
  border: solid 2px transparent;
  background-image: linear-gradient(
      150deg,
      rgba(254, 0, 0, 1),
      rgba(255, 127, 0, 1)
    ),
    linear-gradient(150deg, #fe0000, #ff7f00);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  z-index: 10;
  position: absolute;
  right: -2rem;
}

.podcasts-swiper-next::after {
  font-size: 25px !important;
  padding-left: 3px;
}

@media screen and (max-width: 1200px) {
  .podcasts-swiper-next {
    top: 85px;
  }
}

@media screen and (max-width: 1000px) {
  .podcasts-swiper-next {
    top: 80px;
  }
}

.podcasts-swiper-prev {
  color: #000;
  padding: 2rem 2.1rem;
  background-color: #fff;
  border-radius: 100px;
  z-index: 10;
  position: absolute;
  border: solid 2px transparent;
  background-image: linear-gradient(
      150deg,
      rgba(254, 0, 0, 1),
      rgba(255, 127, 0, 1)
    ),
    linear-gradient(150deg, #fe0000, #ff7f00);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  bottom: 0 !important;
  left: -2rem;
}

.podcasts-swiper-prev::after {
  font-size: 25px !important;
  padding-right: 3px;
}

@media screen and (max-width: 1200px) {
  .podcasts-swiper-prev {
    top: 85px;
  }
}

@media screen and (max-width: 1000px) {
  .podcasts-swiper-prev {
    top: 80px;
  }
}
</style>
