<template>
  <section class="section privacy">
    <div class="privacy container">
      <div class="privacy__heading">
        <h1>GENERAL TERMS AND CONDITIONS Saltatie</h1>
        <h2>
          E-mail:
          <a href="mailto:jeroendebruijn@saltatie.nl"
            >jeroendebruijn@saltatie.nl</a
          >
        </h2>
        <h2>Website:<a href="/"> www.saltatie.nl</a></h2>
      </div>

      <div class="list">
        <p class="list__title">Definitions</p>
        <ol>
          <li>
            Saltatie: Saltatie Investments B.V., established in Eindhoven,
            Chamber of Commerce no. 85378380.
          </li>
          <li>
            Customer: the party which Saltatie has entered into an agreement
            with.
          </li>
          <li>Parties: Saltatie and customer together.</li>
          <li>
            Consumer: a customer who is an individual or a company acting for
            its own purposes.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Applicability</p>
        <ol>
          <li>
            These terms and conditions will apply to all quotations, offers,
            activities, orders, agreements and deliveries of services or
            products by or on behalf of Saltatie. 
          </li>
          <li>
            Parties can only deviate from these conditions if they have
            explicitly agreed upon in writing.
          </li>
          <li>
            The parties expressly exclude the applicability of supplementary
            and/or deviating general terms and conditions of the customer or of
            third parties.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Offers and quotations</p>
        <ol>
          <li>
            Offers and quotations from Saltatie are without engagement, unless
            expressly stated otherwise.
          </li>
          <li>
            An offer or quotation is valid for a maximum period of 3
            months  from its date, unless another acceptance period is stated in
            the offer or quotation. 
          </li>
          <li>
            If the customer does not accept an offer or quotation within the
            applicable time frame, the offer or quotation will lapse.
          </li>
          <li>
            Offers and quotations do not apply to repeated orders, unless the
            parties have agreed upon this explicitly and in writing.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Acceptance</p>
        <ol>
          <li>
            Upon acceptance of a quotation or offer without
            engagement, Saltatie reserves the right to withdraw the quotation or
            offer within 3 days after receipt of the acceptance, without any
            obligations towards the customer. 
          </li>
          <li>
            Verbal acceptance of the customer only commits Saltatie after the
            customer has confirmed this in writing (or electronically).
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Prices</p>
        <ol>
          <li>
            All prices used by Saltatie are in euros, are exclusive of VAT and
            exclusive of any other costs such as administration costs, levies
            and travel-, shipping- or transport expenses, unless expressly
            stated otherwise or agreed otherwise.
          </li>
          <li>
            Saltatie is entitled to adjust all prices for its services on its
            website or otherwise, at any time.
          </li>
          <li>
            Saltatie offers services on the basis of an accepted quotation or
            offer.
          </li>
          <li>
            In the case of no cure no pay, the payment obligation for the
            customer arises when the agreed result has been achieved.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Payments and payment term</p>
        <ol>
          <li>
            Parties, at the conclusion of the agreement, determine the payment
            terms and conditions. 
          </li>
          <li>
            Payment terms are considered as fatal payment terms. This means that
            if the customer has not paid the agreed amount at the latest on the
            last day of the payment term, he is legally in default,
            without Saltatie having to send the customer a reminder or to put
            him in default. 
          </li>
          <li>
            Saltatie reserves the right to make a delivery conditional upon
            immediate payment or to require adequate security for the total
            amount of the services or products.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Consequences of late payment</p>
        <ol>
          <li>
            If the customer does not pay within the agreed term, Saltatie is
            entitled to charge an interest of 8% per month for commercial
            transactions from the day the customer is in default, whereby a part
            of a month is counted for a whole month.
          </li>
          <li>
            When the customer is in default, he is also due to extrajudicial
            collection costs and may be obliged to pay any compensation
            to Saltatie. 
          </li>
          <li>
            The collection costs are calculated on the basis of the
            Reimbursement for extrajudicial collection costs. 
          </li>
          <li>
            If the customer does not pay on time, Saltatie may suspend its
            obligations until the customer has met his payment obligation. 
          </li>
          <li>
            his payment obligation. In the event of liquidation, bankruptcy,
            attachment or suspension of payment on behalf of the customer, the
            claims of Saltatie on the customer are immediately due and payable. 
          </li>
          <li>
            If the customer refuses to cooperate with the performance of the
            agreement by Saltatie, he is still obliged to pay the agreed price
            to Saltatie.
          </li>
        </ol>
      </div>

      <div class="list">
        <p class="list__title">Suspension of obligations by the customer</p>
        <ol>
          <li style="list-style-type: none">
            The customer waives the right to suspend the fulfillment of any
            obligation arising from this agreement.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Settlement</p>
        <ol>
          <li style="list-style-type: none">
            The customer waives his right to settle any debt to Saltatie with
            any claim on Saltatie. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Guarantee</p>
        <ol>
          <li style="list-style-type: none">
            When parties have entered into an agreement with services included,
            these services only contain best-effort obligations for Saltatie,
            not obligations of results.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Performance of the agreement</p>
        <ol>
          <li>
            Saltatie executes the agreement to the best of its knowledge and
            ability and in accordance with the requirements of good
            workmanship. 
          </li>
          <li>
            Saltatie has the right to have the agreed services (partially)
            performed by third parties.
          </li>
          <li>
            The execution of the agreement takes place in mutual consultation
            and after written agreement and payment of the possibly agreed
            advance by the customer. 
          </li>
          <li>
            It is the responsibility of the customer that Saltatie can start the
            implementation of the agreement on time.
          </li>
          <li>
            If the customer has not ensured that Saltatie can start the
            implementation of the agreement in time, the resulting additional
            costs and/or extra hours will be charged to the customer.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Duty to inform by the customer</p>
        <ol>
          <li>
            The customer shall make available to Saltatie all information, data
            and documents relevant to the correct execution of the agreement to
            in time and in the desired format and manner.
          </li>
          <li>
            The customer guarantees the correctness, completeness and
            reliability of the information, data and documents made available,
            even if they originate from third parties, unless otherwise ensuing
            from the nature of the agreement. 
          </li>
          <li>
            If and insofar as the customer requests this, Saltatie will return
            the relevant documents. 
          </li>
          <li>
            If the customer does not timely and properly provides the
            information, data or documents reasonably required by Saltatie and
            the execution of the agreement is delayed because of this, the
            resulting additional costs and extra hours will be charged to the
            customer.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Confidentiality</p>
        <ol>
          <li>
            The client keeps any information he receives (in whatever form)
            from Saltatie confidential.
          </li>
          <li>
            The same applies to all other information concerning Saltatie of
            which he knows or can reasonably suspect that it is secret or
            confidential, or of which it can expect that its disclosure may
            cause damage to Saltatie.
          </li>
          <li>
            The customer takes all necessary measures to ensure that he keeps
            the information referred to in paragraphs 1 and 2 secret. 
          </li>
          <li>
            The obligation of secrecy described in this article does not apply
            to information:
            <ul>
              <li>
                which was already made public before the customer heard this
                information or which later became public without being the
                result of a violation of the customer's duty to confidentiality
              </li>
              <li>
                which is made public by the customer due to a legal obligation
              </li>
            </ul>
          </li>
          <li>
            The confidentiality obligation described in this article applies for
            the duration of the underlying agreement and for a period of 3 years
            after the end thereof. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Penalties</p>
        <ol>
          <li>
            If the customer violates the articles of these general terms and
            conditions about secrecy or intellectual property, then he forfeits
            on behalf of Saltatie an immediately due and payable fine of € 1.000
            if the customer is a consumer and € 5.000 if the customer is a
            company, for each violation and in addition an amount of 5% of the
            aforementioned amount for each day that this violation continues. 
          </li>
          <li>
            No actual damage, prior notice of default or legal proceedings are
            required in forfeiting the fine referred to in the first paragraph
            of this article. 
          </li>
          <li>
            The forfeiture of the fine referred to in the first paragraph of
            this article shall not affect the other rights of Saltatie including
            its right to claim compensation in addition to the fine.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Indemnity</p>
        <ol>
          <li style="list-style-type: none">
            The customer indemnifies Saltatie against all third-party claims
            that are related to the services supplied by Saltatie. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Complaints</p>
        <ol>
          <li>
            The customer must examine a service provided by Saltatie as soon as
            possible for possible shortcomings.
          </li>
          <li>
            If a delivered product or service does not comply with what the
            customer could reasonably expect from the agreement, the customer
            must inform Saltatie of this as soon as possible, but in any case
            within 1 month after the discovery of the shortcomings. 
          </li>
          <li>
            Consumers must inform Saltatie of this within two months after
            detection of the shortcomings.
          </li>
          <li>
            The customer gives a detailed description as possible of the
            shortcomings, so that Saltatie is able to respond adequately. 
          </li>
          <li>
            The customer must demonstrate that the complaint relates to an
            agreement between the parties.
          </li>
          <li>
            If a complaint relates to ongoing work, this can in any case not
            lead to Saltatie being forced to perform other work than has been
            agreed. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Giving notice</p>
        <ol>
          <li>
            The customer must provide any notice of default to Saltatie in
            writing.
          </li>
          <li>
            It is the responsibility of the customer that a notice of default
            actually reaches Saltatie (in time).
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Joint and several Client liabilities</p>
        <ol>
          <li style="list-style-type: none">
            If Saltatie enters into an agreement with several customers, each of
            them shall be jointly and severally liable for the full amounts due
            to Saltatie under that agreement.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Liability of Saltatie</p>
        <ol>
          <li>
            Saltatie is only liable for any damage the customer suffers if and
            insofar as this damage is caused by intent or gross negligence. 
          </li>
          <li>
            If Saltatie is liable for any damage, it is only liable for direct
            damages that results from or is related to the execution of an
            agreement.
          </li>
          <li>
            Saltatie is never liable for indirect damages, such as consequential
            loss, lost profit, lost savings or damage to third parties.
          </li>
          <li>
            If Saltatie is liable, its liability is limited to the amount paid
            by a closed (professional) liability insurance and in the absence of
            (full) payment by an insurance company of the damages the amount of
            the liability is limited to the (part of the) invoice to which the
            liability relates.
          </li>
          <li>
            All images, photos, colors, drawings, descriptions are only
            indicative and are only approximate and cannot lead to any
            compensation and/or (partial) dissolution of the agreement and/or
            suspension of any obligation.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Expiry period</p>
        <ol>
          <li style="list-style-type: none">
            Every right of the customer to compensation from Saltatie shall, in
            any case, expire within 12 months after the event from which the
            liability arises directly or indirectly. This does not exclude the
            provisions in article 6:89 Dutch Civil Code.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Dissolution</p>
        <ol>
          <li>
            The customer has the right to dissolve the agreement
            if Saltatie imputably fails in the fulfillment of his obligations,
            unless this shortcoming does not justify termination due to its
            special nature or because it is of minor significance. 
          </li>
          <li>
            If the fulfillment of the obligations by Saltatie is not permanent
            or temporarily impossible, dissolution can only take place
            after Saltatie is in default. 
          </li>
          <li>
            Saltatie has the right to dissolve the agreement with the customer,
            if the customer does not fully or timely fulfill his obligations
            under the agreement, or if circumstances give Saltatie good grounds
            to fear that the customer will not be able to fulfill his
            obligations properly. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Force majeure</p>
        <ol>
          <li>
            In addition to the provisions of article 6:75 Dutch Civil Code, a
            shortcoming of Saltatie in the fulfillment of any obligation to the
            customer cannot be attributed to Saltatie in any situation
            independent of the will of Saltatie, when the fulfillment of its
            obligations towards the customer is prevented in whole or in part or
            when the fulfillment of its obligations cannot reasonably be
            required from Saltatie . 
          </li>
          <li>
            The force majeure situation referred to in paragraph 1 is also
            applicable - but not limited to: state of emergency (such as civil
            war, insurrection, riots, natural disasters, etc.); defaults and
            force majeure of suppliers, deliverymen or other third parties;
            unexpected disturbances of power, electricity, internet, computer or
            telecoms; computer viruses, strikes, government measures, unforeseen
            transport problems, bad weather conditions and work stoppages. 
          </li>
          <li>
            If a situation of force majeure arises as a result of
            which Saltatie cannot fulfill one or more obligations towards the
            customer, these obligations will be suspended until Saltatie can
            comply with it. 
          </li>
          <li>
            From the moment that a force majeure situation has lasted at least
            30 calendar days, both parties may dissolve the agreement in writing
            in whole or in part. 
          </li>
          <li>
            Saltatie does not owe any (damage) compensation in a situation of
            force majeure, even if it has obtained any advantages as a result of
            the force majeure situation.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Modification of the agreement</p>
        <ol>
          <li style="list-style-type: none">
            If, after the conclusion of the agreement and before its
            implementation, it appears necessary to change or supplement its
            contents, the parties shall timely and in mutual consultation adjust
            the agreement accordingly. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Changes in the general terms and conditions</p>
        <ol>
          <li>
            Saltatie is entitled to amend or supplement these general terms and
            conditions. 
          </li>
          <li>Changes of minor importance can be made at any time.</li>
          <li>
            Major changes in content will be discussed by Saltatie with the
            customer in advance as much as possible.
          </li>
          <li>
            Consumers are entitled to cancel the agreement in the event of a
            substantial change to the general terms and conditions. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Transfer of rights</p>
        <ol>
          <li>
            The customer cannot transfer its rights deferring from an agreement
            with Saltatie to third parties without the prior written consent
            of Saltatie. 
          </li>
          <li>
            This provision applies as a clause with a property law effect as
            referred to in Section 3:83 (2) Dutch Civil Code. 
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Consequences of nullity or annullability</p>
        <ol>
          <li>
            If one or more provisions of these general terms and conditions
            prove null or annullable, this will not affect the other provisions
            of these terms and conditions. 
          </li>
          <li>
            A provision that is null or annullable shall, in that case, be
            replaced by a provision that comes closest to what Saltatie had in
            mind when drafting the conditions on that issue.
          </li>
        </ol>
      </div>
      <div class="list">
        <p class="list__title">Applicable law and competent court</p>
        <ol>
          <li>
            Dutch law is exclusively applicable to all agreements between the
            parties. 
          </li>
          <li>
            The Dutch court in the district where Saltatie is established is
            exclusively competent in case of any disputes between parties,
            unless the law prescribes otherwise.
          </li>
        </ol>
      </div>

      <p class="drawn">Drawn up on 18 februari 2022.</p>
    </div>
  </section>
</template>
<script>
export default {
  components: {},
  loading: true,
  name: "IndexPage",
  head: {
    title: "Saltatie Investments | Home",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "Home page description",
      },
    ],
  },
  methods: {},
  mounted() {},
};
</script>
