<template>
  <div>
    <Header
      :top_title="$t('')"
      :middle_title="$t('hero_title_who_2')"
      :bottom_title="$t('')"
      class="smaller-header"
      style="
        background-image: url(/images/header-images/Saltatie_WieZijnWij_Hero_1900x800px.jpg);
        height: 65vh;
        background-position: center 20%;
      "
    />

    <main class="main">
      <!-- WHAT DOES IT MEAN BLOCK -->
      <section class="logo section" id="logo">
        <div class="logo__container">
          <img
            src="/images/Saltatie-logo-rgb.png"
            class="logo_image"
            alt="Saltatie Investments Logo"
          />
        </div>
      </section>

      <!-- WHAT DOES IT MEAN BLOCK -->
      <ColoredImageBlockLeft
        class="who_quote_1"
        :blockTextRight="$t('who_quote_1')"
        :backgroundUrl="Quote1Block"
      />

      <!-- KNOW EACHOTHER-->
      <section class="knowing section" id="focus">
        <h1 class="section__title">{{ $t("who_lets_introduce") }}</h1>

        <div class="video__container container">
          <div class="video__content big">
            <div class="youtube-container who-video">
              <div
                v-if="$route.path == '/en/who'"
                class="youtube-player"
                data-id="u4NIaUksTnM"
                data-thumbnail="/images/podcasts-images/21862_Saltatie_Youtube_Podcast_WhoAreWe.jpg"
              ></div>
              <div
                v-else
                class="youtube-player"
                data-id="u4NIaUksTnM"
                data-thumbnail="/images/podcasts-images/21862_Saltatie_Youtube_Podcast_WieZijnWij.jpg"
              ></div>
            </div>
          </div>
        </div>
      </section>

      <!-- GIJSBERT TEXT BLOCK -->
      <section class="information-left section" id="information-left">
        <div class="information-container container">
          <div class="information-left-block">
            <img
              src="/images/who_are_we/Saltatie_WieZijnWij_Gijsbert_650x600px.jpg"
              alt="Gijsbert Image"
            />
          </div>

          <div class="information-text-block">
            <div class="title-linkdin">
              <h1>Gijsbert van den Brink</h1>
              <div class="linkdin-block person">
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/gijsbert-van-den-brink-07621741/"
                  ><font-awesome-icon :icon="['fab', 'linkedin-in']"
                /></a>
              </div>
            </div>
            <p>
              {{ $t("who_gijsbert_decsription_para_1") }}
            </p>
            <p class="info">
              {{ $t("who_gijsbert_decsription_para_2") }}
            </p>
            <p class="info">
              {{ $t("who_gijsbert_decsription_para_3") }}
            </p>
          </div>
        </div>
        <div class="line-ball_person">
          <hr class="line" />
          <div class="ball"></div>
        </div>
      </section>

      <!-- GIJSBERT QUOTE BLOCK -->
      <ColoredImageBlockRight
        class="gijsbert_quote"
        :blockTextLeft="gijsbert_quote"
        :personQuoteLeft="gijsbert_name"
        :backgroundUrl="Quote2Block"
      />

      <!-- GIJSBERT QUOTE BLOCK -->
      <section
        class="information-left jeroen_section section"
        id="information-left"
      >
        <div class="information-container container">
          <div class="information-text-block right">
            <div class="title-linkdin">
              <h1>Jeroen De Bruijn</h1>
              <div class="linkdin-block person">
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/jeroen-de-bruijn-11b9848/"
                  ><font-awesome-icon :icon="['fab', 'linkedin-in']"
                /></a>
              </div>
            </div>

            <p>
              {{ $t("who_jeroen_decsription_para_1") }}
            </p>
            <p class="info">
              {{ $t("who_jeroen_decsription_para_2") }}
            </p>
          </div>

          <div class="information-left-block">
            <img
              src="/images/who_are_we/Saltatie_WieZijnWij_Jeroen_650x600px.jpg"
              alt="Jeroen Image"
            />
          </div>
        </div>
        <div class="line-ball_person right">
          <hr class="line" />
          <div class="ball right"></div>
        </div>
      </section>

      <!-- JEROEN QUOTE BLOCK -->
      <ColoredImageBlockLeft
        class="jeroen_quote"
        :blockTextRight="jeroen_quote"
        :personQuoteRight="jeroen_name"
        :backgroundUrl="Quote3Block"
      />

      <Subscribe />
    </main>
  </div>
</template>

<script>
import Header from "@/components/Header";
import ColoredImageBlockLeft from "../components/ColoredImageBlockLeft";
import ColoredImageBlockRight from "../components/ColoredImageBlockRight";
import Subscribe from "../components/Subscribe";

/* ASSETS */
import Quote1 from "../static/images/who_are_we/Saltatie_WieZijnWij_Quote1_650x600px.jpg";
import Quote2 from "../static/images/who_are_we/Saltatie_WieZijnWij_Quote2_650x600px.jpg";
import Quote3 from "../static/images/who_are_we/Saltatie_WieZijnWij_Quote3_650x600px.jpg";

export default {
  transition: "fade",
  components: {
    Subscribe,
    ColoredImageBlockRight,
    ColoredImageBlockLeft,
    Header,
  },
  name: "Who",
  head: {
    title: "Saltatie Investments | Wij zijn wij",
    meta: [
      {
        hid: "description",
        name: "description",
        content: "Who are we page description",
      },
    ],
  },
  data() {
    return {
      top_title: "",
      middle_title: "Wie zijn wij?",
      bottom_title: "",

      what_does_it_mean: "",
      jeroen_quote: "‘‘Doubt kills more dreams than failure ever will’’",
      jeroen_name: "- Jeroen De Bruijn -",

      gijsbert_quote:
        "‘‘Don’t ask if your dream is crazy, ask whether it’s crazy enough’’",
      gijsbert_name: "- Gijsbert van den Brink -",

      Quote1Block: Quote1,
      Quote2Block: Quote2,
      Quote3Block: Quote3,
    };
  },
  methods: {
    arrowScroll() {
      const arrow = document.getElementById("header-arrow");
      const logo = document.getElementById("logo");

      arrow.onclick = function () {
        logo.scrollIntoView({ behavior: "smooth" });
      };
    },
    scrollRevealWho() {
      const sr = ScrollReveal({
        distance: "60px",
        duration: 2800,
        // reset: true,
      });

      sr.reveal(`.about__block__left, .about__block__right`, {
        origin: `bottom`,
        delay: 400,
        distance: "25px",
      });

      sr.reveal(`.about__block__right`, {
        origin: `bottom`,
        delay: 400,
        distance: "25px",
      });

      sr.reveal(`.image_box`, {
        origin: `left`,
        distance: "100px",
      });

      sr.reveal(
        `.home__data, .home__social-link, .home__info,
           .discover__container,
           .experience__data, .experience__overlay,
           .place__card,
           .sponsor__content`,
        {
          origin: "top",
          interval: 100,
        }
      );

      sr.reveal(`.about__data`, {
        origin: "right",
        delay: 400,
      });

      sr.reveal(`.line-ball_modder`, {
        origin: "right",
        delay: 600,
        distance: "800px",
      });

      sr.reveal(`.line-ball,  .line-ball_entrepreneur`, {
        origin: "left",
        delay: 10,
        distance: "800px",
      });
    },
    getVideos() {
      var v = document.getElementsByClassName("youtube-player");
      for (var n = 0; n < v.length; n++) {
        var p = document.createElement("div");
        var id = v[n].getAttribute("data-id");

        var placeholder = v[n].hasAttribute("data-thumbnail")
          ? v[n].getAttribute("data-thumbnail")
          : "";

        if (placeholder.length) p.innerHTML = createCustomThumbail(placeholder);
        else p.innerHTML = createThumbail(id);

        v[n].appendChild(p);
        p.addEventListener("click", function () {
          var parent = this.parentNode;
          createIframe(parent, parent.getAttribute("data-id"));
        });
      }
    },

    /**
     * Create custom thumbnail from data-attribute provided url
     * @param {string} url
     * @return {string} The HTML containing the <img> tag
     */
    createCustomThumbail(url) {
      return (
        '<img class="youtube-thumbnail" src="' +
        url +
        '" alt="Youtube Preview" /><div class="youtube-play-btn"></div>'
      );
    },

    /**
     * Get Youtube default max resolution thumbnail
     * @param {string} id The Youtube video id
     * @return {string} The HTML containing the <img> tag
     */
    createThumbail(id) {
      return (
        '<img class="youtube-thumbnail" src="//i.ytimg.com/vi_webp/' +
        id +
        '/maxresdefault.webp" alt="Youtube Preview"><div class="youtube-play-btn"></div>'
      );
    },

    /**
     * Create and load iframe in Youtube container
     **/
    createIframe(v, id) {
      var iframe = document.createElement("iframe");
      console.log(v);
      iframe.setAttribute(
        "src",
        "//www.youtube.com/embed/" +
          id +
          "?autoplay=1&color=white&autohide=2&modestbranding=1&border=0&wmode=opaque&enablejsapi=1&showinfo=0&rel=0"
      );
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("class", "youtube-iframe");
      // v.firstChild.replaceWith(iframe);
    },

    modalVideos() {
      /** Pause video on modal close **/
      $("#video-modal").on("hidden.bs.modal", function (e) {
        $(this).find("iframe").remove();
      });

      /** Pause video on modal close **/
      $("#video-modal").on("show.bs.modal", function (e) {
        getVideos();
      });
    },
  },

  mounted() {
    this.scrollRevealWho();
    this.arrowScroll();
    this.getVideos();
    this.createCustomThumbail();
    this.createThumbail();
    this.createIframe();
    this.modalVideos();
  },
};
</script>
